@using sReportsV2.DTOs.EpisodeOfCare
@model sReportsV2.DTOs.Patient.PatientDataOut
@section Scripts
{
    @Scripts.RenderFormat("<script type=\"text/javascript\" integrity=\"sha512-PqivlaNWoXvHYlvku80fbWO/yBiRmGhISj5uVdAodyqsGprDcVZy6aecJDVNE0fIIE/YeiOzp5yJTR5ZjFlR4Q==\" crossorigin=\"anonymous\" src=\"{0}?v=" + System.Reflection.Assembly.GetAssembly(typeof(sReportsV2.MvcApplication)).GetName().Version.ToString() + "\"></script>", "https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.15.2/cytoscape.min.js")
}

@section Stylesheet
{
    @Styles.RenderFormat("<link href='{0}?v=" + System.Reflection.Assembly.GetAssembly(typeof(sReportsV2.MvcApplication)).GetName().Version.ToString() + "' rel='stylesheet'>", "~/Content/digital-guideline.css")
    @Styles.RenderFormat("<link href='{0}?v=" + System.Reflection.Assembly.GetAssembly(typeof(sReportsV2.MvcApplication)).GetName().Version.ToString() + "' rel='stylesheet'>", "~/Content/newMain.css")
}
@{
    ViewBag.Title = "Digital guideline instance";
    EpisodeOfCareDataOut eoc = Model.GetEpisodeOfCare(ViewBag.EocId);
}

<div id="patientGeneralInfoContainer" class="patient-general-info" data-patientid="@Model.Id" data-eocid="@eoc.Id">
    <div class="patient-general-info-title">
        @sReportsV2.Resources.TextLanguage.Patient
    </div>
    <div class="properties">
        <div class="property">
            <div class="property-name">@sReportsV2.Resources.TextLanguage.Name</div>
            <div class="property-value">@Model.Name</div>
        </div>
        <div class="property">
            <div class="property-name">@sReportsV2.Resources.TextLanguage.FamilyName</div>
            <div class="property-value">@Model.FamilyName</div>
        </div>
        <div class="property">
            <div class="property-name">@sReportsV2.Resources.TextLanguage.BirthDate</div>
            <div class="property-value">@(Model.BirthDate != null ? Model.BirthDate.Value.ToString(ViewBag.DateFormat) : "Not known")</div>
        </div>
        <div class="property no-border">
            <button class="button-edit" id="@Model.Id" onclick="backToPatient('@Model.Id', '@eoc.Id')">
                <i class="fas fa-pen"></i>
                <span>
                    @sReportsV2.Resources.TextLanguage.Back_to_patient_data
                </span>
            </button>
        </div>
    </div>
</div>


<div id="guidelineTableContainer" class="padding-top-10">
    @Html.Partial("GuidelineInstanceTable", eoc.ListGuidelines)
</div>

@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + System.Reflection.Assembly.GetAssembly(typeof(sReportsV2.MvcApplication)).GetName().Version.ToString() + "\"></script>", "~/Scripts/sReports/digitalGuidelineInstance/patient-digital-guideline.js")
@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + System.Reflection.Assembly.GetAssembly(typeof(sReportsV2.MvcApplication)).GetName().Version.ToString() + "\"></script>", "~/Scripts/sReports/common/custom-modal.js")