@using sReportsV2.DTOs.Common.DataOut;
@using sReportsV2.DTOs;

<form id="advancedFilterForm" name="AdvancedFilterForm" onsubmit="return false">
    <div class="modal fade" id="advancedFilterModal" tabindex="-1" role="dialog" aria-labelledby="advancedFilterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content modal-content-advanced form-advanced-content">
                <div class="float-right filter-close-btn">
                    <img class="close-modal" src="~/Content/img/icons/close_black.svg">

                </div>

                <div class="modal-body modal-body-advanced" id="advancedFilterModalContent">
                    <div class="d-flex advanced-filter-header">
                        <img class="mr-3" src="~/Content/img/icons/advanced_filter.svg">@sReportsV2.Resources.TextLanguage.Advanced_filter
                    </div>

                    <div class="d-flex">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.From
                            </div>
                            <div class="filter-date-time datetime-picker-container">
                                <div class="date-wrapper input-border mr-auto w-60 d-flex">
                                    <input type="date" class="date-helper d-inline-block border-0 date-width input-padding filter-input" value="@(ViewBag.FilterData != null && ViewBag.FilterData.DateTimeFrom != null ? ViewBag.FilterData.DateTimeFrom.ToString("s").Split('T')[0] : "")" />
                                    <input id="dateTimeFrom" type="datetime-local" class="date-time-local d-none form-element-field filter-input"  value="@(ViewBag.FilterData != null && ViewBag.FilterData.DateTimeFrom != null ? ViewBag.FilterData.DateTimeFrom.ToString("s") : "")" />
                                    <div class="img-wrapper">
                                        <img class=" d-inline-block" src="~/Content/img/icons/datetime_field.svg" onclick="openDateTimePicker(event)">
                                    </div>
                                </div>
                                <div class="time-wrapper w-35 input-border">
                                    <input type="text" class=" time-part time-helper d-inline-block border-0 input-padding filter-input w-90" value="@(ViewBag.FilterData != null && ViewBag.FilterData.DateTimeFrom != null ? ViewBag.FilterData.DateTimeFrom.ToString("s").Split('T')[1] : "")">
                                    <div class="clock-wrapper">
                                        <i class="fas fa-clock" onclick="openTimePicker(event)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.To
                            </div>
                            <div class="filter-date-time datetime-picker-container">
                                <div class="date-wrapper input-border mr-auto w-60 d-flex">
                                    <input type="date" class="date-helper d-inline-block border-0 date-width input-padding filter-input" value="@(ViewBag.FilterData != null && ViewBag.FilterData.DateTimeTo != null ? ViewBag.FilterData.DateTimeTo.ToString("s").Split('T')[0] : "")" />
                                    <input id="dateTimeTo" type="datetime-local" class="date-time-local d-none form-element-field filter-input" value="@(ViewBag.FilterData != null && ViewBag.FilterData.DateTimeTo != null ? ViewBag.FilterData.DateTimeTo.ToString("s") : "")" />
                                    <div class="img-wrapper">
                                        <img class=" d-inline-block" src="~/Content/img/icons/datetime_field.svg" onclick="openDateTimePicker(event)">
                                    </div>
                                </div>
                                <div class="time-wrapper w-35 input-border">
                                    <input type="text" class="time-part time-helper d-inline-block border-0 input-padding filter-input w-90"  value="@(ViewBag.FilterData != null && ViewBag.FilterData.DateTimeTo != null ? ViewBag.FilterData.DateTimeTo.ToString("s").Split('T')[1] : "")">
                                    <div class="clock-wrapper">
                                        <i class="fas fa-clock" onclick="openTimePicker(event)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex margin-top-20">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Title
                            </div>
                            <input type="text" class="filter-input" id="title" value="@(ViewBag.FilterData!= null ? ViewBag.FilterData.Title : "")">
                        </div>
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.ThesaurusId
                            </div>
                            <input type="text" class="filter-input" id="thesaurusId" value="@(ViewBag.FilterData != null ? ViewBag.FilterData.ThesaurusId : "")">
                        </div>
                    </div>

                    <div class="d-flex margin-top-20">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.State_
                            </div>
                            <select class="filter-input arrow-select" id="state">
                                <option value=""> @sReportsV2.Resources.TextLanguage.SelectOption</option>
                                @foreach (var option in Enum.GetNames(typeof(sReportsV2.Common.Enums.FormDefinitionState)))
                                {
                                    <option class="advanced-select" value="@option" @(ViewBag.FilterData != null && ViewBag.FilterData.State != null && ViewBag.FilterData.State.ToString() == option ? "selected" : "")>@sReportsV2.Resources.TextLanguage.ResourceManager.GetString(option)</option>
                                }
                            </select>
                        </div>
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Explicit_Purpose
                            </div>
                            <select class="filter-input arrow-select" id="explicitPurpose">
                                @Options("ExplicitPurpose")
                            </select>

                        </div>
                    </div>

                    <div class="d-flex margin-top-20">
                        <div class="advanced-filter-item filter-item ">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Scope_of_Validity
                            </div>
                            <select class="filter-input arrow-select" id="scopeOfValidity">
                                @Options("ScopeOfValidity")
                            </select>
                        </div>
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Clinical_Domain
                            </div>
                            <select class="filter-input arrow-select" id="clinicalDomain">
                                @Options("ClinicalDomain")
                            </select>
                        </div>
                    </div>

                    <div class="d-flex margin-top-20">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Clinical_Context
                            </div>
                            <select class="filter-input arrow-select" id="clinicalContext">
                                @Options("ClinicalContext")
                            </select>
                        </div>
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Administrative_Context
                            </div>
                            <select class="filter-input arrow-select" id="administrativeContext">
                                @Options("AdministrativeContext")
                            </select>
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class=" margin-top-20 advanced-filter-item filter-item @(Request.QueryString["ClinicalContext"] == "FollowUp"? "d-block":"d-none")" id="documentFollowUp" style="width:47%;">
                            <div class="label filter-label">@sReportsV2.Resources.TextLanguage.FollowUp</div>
                            <select class=" filter-input arrow-select" id="documentFollowUpSelect">
                                @Options("FollowUp")
                            </select>
                        </div>


                    </div>

                    <div class="d-flex margin-top-20">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.DocumentClass
                            </div>
                            <select class="filter-input arrow-select" id="classes">
                                @Options("Classes")
                            </select>
                        </div>
                        <div class="advanced-filter-item filter-item ">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.General_Purpose
                            </div>
                            <select class="filter-input arrow-select" id="generalPurpose">
                                @Options("GeneralPurpose")
                            </select>
                        </div>
                    </div>

                    <div class="d-flex margin-top-20">

                        <div class=" advanced-filter-item filter-item @(Request.QueryString["Classes"]=="Other"? "d-block":"d-none")" id="documentClassOther" style="width:47%;">
                            <div class="label filter-label">OTHER(DOCUMENT CLASS)</div>
                            <input class="filter-input" id="documentClassOtherInput" value="@Request.QueryString["ClassesOtherValue"]" />
                        </div>
                        <div class="advanced-filter-item filter-item @(Request.QueryString["GeneralPurpose"] == "ContextDependent"? "d-block":"d-none")" id="documentContextDependent" style="width:47%;">
                            <div class="label filter-label">@sReportsV2.Resources.TextLanguage.Content_dependent</div>
                            <select class="filter-input arrow-select" id="contextDependent">
                                @Options("ContextDependent")
                            </select>
                        </div>

                    </div>
                    <div class="advanced-filter-line"></div>
                    <div class="d-flex mt-3 position-relative margin-top-10">
                        <div class="button-wrapper-filter filter-button" id="submitFilterButton">
                            <button class="btn btn-filter-primary w-100 h-100" onclick="advanceFilter()"> @sReportsV2.Resources.TextLanguage.Filter</button>
                        </div>
                        <div class="button-wrapper-filter cancel-filter-btn float-right" id="close">
                            <a class="btn advanced-cancel" data-dismiss="modal" aria-label="Close">
                                @sReportsV2.Resources.TextLanguage.Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@helper Options(string key)
{
    <option value="">@sReportsV2.Resources.TextLanguage.SelectOption</option>
    foreach (var option in ViewBag.DocumentPropertiesEnums[key] as List<EnumDTO>)
    {
        if (Request.QueryString[key] != null && option.Value == Request.QueryString[key].ToString())
        {
            <option value="@option.Value" selected>@sReportsV2.Resources.TextLanguage.ResourceManager.GetString(option.Label as string)</option>
        }
        else
        {
            <option value="@option.Value">@sReportsV2.Resources.TextLanguage.ResourceManager.GetString(option.Label as string)</option>
        }
    }
}

<script src="~/Scripts/sReports/formFilter.js"></script>