@using sReportsV2.DTOs.Field.DataOut;
@model FieldTextAreaDataOut
@{
    bool isChapterReadonly = ViewBag.Chapter;
    int repetitiveCounter = 1;
    int fieldSetCounter = ViewBag.FieldSetCounter;
    string fieldSetId = ViewBag.FieldSetId;
}

    <fieldset id="@fieldSetId-@fieldSetCounter-@Model.Id-1" data-dependables="@Model.IsVisible" class="form-element form-input position-relative field-set-content" @Html.Raw(Model.Visibility)>
        <div class="repetitive-values d-inline-block form-input-size">

            @if (Model.Value != null && Model.Value.Count > 0)
            {
                foreach (var repetitiveValue in Model.Value)
                {
                    <div class="field-group">
                        <div for="@Model.Id" class="filter-label form-label-size d-inline-block">
                            @Html.Raw(Model.FullLabel)
                        </div>
                        <div class="repetitive-field filter-input d-inline-block">
                            <textarea id="ta-@Model.Id" 
                                      name="@fieldSetId-@fieldSetCounter-@Model.Id-@repetitiveCounter" 
                                      class="form-element-field textarea-repetitive" 
                                      placeholder="@Model.DescriptionLabel" @Html.Raw(Model.ValidationAttr) 
                                      value="@repetitiveValue" @(Model.IsReadonly || isChapterReadonly ? "readonly" : string.Empty)>@repetitiveValue</textarea>

                            @{repetitiveCounter++;
                            }

                        </div>
                        @Html.Partial("~/Views/Form/Custom/FieldButtonGroup.cshtml", Model)
                    </div>
                }
            }
            else
            {
                <div class="field-group">
                    <div for="@Model.Id" class="filter-label form-label-size d-inline-block">
                        @Html.Raw(Model.FullLabel)
                    </div>
                    <div class="repetitive-field filter-input d-inline-block">
                        <textarea 
                                  id="ta-@Model.Id" 
                                  name="@fieldSetId-@fieldSetCounter-@Model.Id-1" 
                                  class="form-element-field textarea-repetitive" 
                                  placeholder="@Model.DescriptionLabel" @Html.Raw(Model.ValidationAttr) @(Model.IsReadonly || isChapterReadonly ? "readonly" : string.Empty)></textarea>
                    </div>
                    @Html.Partial("~/Views/Form/Custom/FieldButtonGroup.cshtml", Model)
                </div>
            }
        </div>
        <div style="margin-top:10px;">
            <div style="display:none" class="form-element-description field-desc">
                @Html.Raw(Model.Description)
            </div>
        </div>
    </fieldset>



