@using sReportsV2.DTOs.Form.DataOut;
@model FormDataOut
@{
    ViewBag.Action = "/FormInstance/Create";
}

<div class="element-background-grey element-background-grey-height-form-partial">
    <input type="hidden" name="formPartialIndicator" value="@ViewBag.Action" />
    @Html.Partial("Breadcrumb", new ViewDataDictionary { { "level1", @sReportsV2.Resources.TextLanguage.DataCaptureEngine }, { "linkLevel1", "/FormInstance/GetAllFormDefinitions" }, { "level2", Model.Title }, { "linkLevel2", "/FormInstance/GetAllByFormThesaurus?VersionId=" + Model.Version.Id + "&thesaurusId=" + Model.ThesaurusId + "&title=" + Model.Title + "&documentClass=" + ViewBag.FilterFormInstanceDataIn.DocumentClass + "&ClassesOtherValue=" + ViewBag.FilterFormInstanceDataIn.ClassesOtherValue + "&FollowUp=" + ViewBag.FilterFormInstanceDataIn.FollowUp + "&GeneralPurpose=" + ViewBag.FilterFormInstanceDataIn.GeneralPurpose + "&explicitPurpose=" + ViewBag.FilterFormInstanceDataIn.ExplicitPurpose + "&scopeOfValididty=" + ViewBag.FilterFormInstanceDataIn.ScopeOfValidity + "&clinicalDomain=" + ViewBag.FilterFormInstanceDataIn.ClinicalDomain + "&clinicalContext=" + ViewBag.FilterFormInstanceDataIn.ClinicalContext + "&administrativeContext=" + ViewBag.FilterFormInstanceDataIn.AdministrativeContext }, { "level3", ViewBag.formInstanceId != null ? ViewBag.formInstanceId : @sReportsV2.Resources.TextLanguage.CreateNewInstance }, { "activeLevel", 3 } })
    @Html.Partial("FormInstanceHeader")
    <div id="formInstanceContentContainer">
        @Html.Partial("~/Views/Form/FormPartial.cshtml", Model)
    </div>
</div>


@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + System.Reflection.Assembly.GetAssembly(typeof(sReportsV2.MvcApplication)).GetName().Version.ToString() + "\"></script>", "~/bundles/formEngine")