@using sReportsV2.Common.Extensions;

<div class="table-responsive filter-border">
    <table class="table table-striped table-border">
        <thead class="color-header">
            <tr class="table-header-row">
                <th style="border-bottom: unset;border-top: unset;">@sReportsV2.Resources.TextLanguage.Title.ToUpper()</th>
                <th style="border-bottom: unset;border-top: unset;">@sReportsV2.Resources.TextLanguage.Version.ToUpper()</th>
                <th style="border-bottom: unset;border-top: unset;">@sReportsV2.Resources.TextLanguage.DateTime.ToUpper()</th>
                <th style="border-bottom: unset;border-top: unset;">@sReportsV2.Resources.TextLanguage.State_.ToUpper()</th>
                <th style="border-bottom: unset;border-top: unset;"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (sReportsV2.DTOs.Form.DataOut.FormDataOut form in Model.Data)
            {
                <tr id="row-@form.Id" onclick="clickedRow(event,'@form.ThesaurusId','@form.Version.Id')" class="table-content-row">
                    <td>@form.Title</td>
                    <td>@form.Version.Major.@form.Version.Minor</td>
                    <td>@(form.EntryDatetime != null ? form.EntryDatetime.Value.ToTimeZoned(ViewBag.UserCookieData.TimeZoneOffset as string).ToString() : string.Empty)</td>
                    <td class="@(form.State == sReportsV2.Common.Enums.FormDefinitionState.ReadyForDataCapture ? "color-green-primary" : "")">@form.State</td>
                    <td>
                        <div class="dropdown show">
                            <a class="dropdown-button" href="#" role="button" id="dropdownMenuLink-@form.Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="dots" src="../Content/img/icons/3dots.png">
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-@form.Id">
                                <a class="dropdown-item d-flex" href="#" onclick="showGenerateModal(event, '@form.Id')">
                                    <img class="edit-svg-size generate-translation-margin"
                                         src="~/Content/img/icons/generate_ translate_12x12.svg"><div>@sReportsV2.Resources.TextLanguage.GenerateTranslations</div>
                                    </a>
                                    <a class="dropdown-item" href="#" onclick="editEntity(event,'@form.ThesaurusId', '@form.Version.Id')"><img class="edit-svg-size" src="~/Content/img/icons/edit.svg">@sReportsV2.Resources.TextLanguage.Edit</a>
                                    <a class="dropdown-item" href="#" onclick="deleteFormDefinition(event, '@form.Id', '@(form.LastUpdate != null ? form.LastUpdate.Value.ToString("o") : DateTime.Now.ToString("o"))')"> <img class="edit-svg-size" src="~/Content/img/icons/remove.svg">@sReportsV2.Resources.TextLanguage.Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
    @if (Model.Data.Count == 0)
    {
        <div class="no-result-content">
            <img class="margin-" src="~/Content/img/icons/no_results.svg">
            <br>
            <div class="no-result-text">@sReportsV2.Resources.TextLanguage.NoResultFound</div>
        </div>
    }

    @if (Model.Data.Count > 0)
    {
        <div class="pager-container">
            @Html.Partial("Pagination")
        </div>
    }
</div>



@Html.Partial("GenerateLanguageModal")
