@Html.Partial("FormFilter")
@using sReportsV2.Models.Form
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>@sReportsV2.Resources.TextLanguage.Title</th>
                    <th>@sReportsV2.Resources.TextLanguage.Version</th>
                    <th>@sReportsV2.Resources.TextLanguage.DateTime</th>
                    <th>@sReportsV2.Resources.TextLanguage.State_</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (sReportsV2.DTOs.Form.DataOut.FormDataOut form in Model.Data)
                {
                    <tr id="row-@form.Id" onclick="clickedRow(event,'@form.ThesaurusId','@form.Version.Id')">
                        <td>@form.Title</td>
                        <td>@form.Version.Major.@form.Version.Minor</td>
                        <td>@form.EntryDatetime</td>
                        <td>@form.State</td>
                        <td>
                            <div class="dropdown show">
                                <a class="dropdown-button" href="#" role="button" id="dropdownMenuLink-@form.Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bars"></i>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-@form.Id">
                                    <a class="dropdown-item" href="#" onclick="showGenerateModal(event, '@form.Id')">@sReportsV2.Resources.TextLanguage.GenerateTranslations</a>
                                    <a class="dropdown-item" href="#" onclick="editEntity(event,'@form.ThesaurusId', '@form.Version.Id')">@sReportsV2.Resources.TextLanguage.Edit</a>
                                    <!--<a class="dropdown-item" href="#">Edit</a>-->
                                    <a class="dropdown-item" href="#" onclick="deleteFormDefinition(event, '@form.Id', '@(form.LastUpdate != null ? form.LastUpdate.Value.ToString("o") : DateTime.Now.ToString("o"))')">@sReportsV2.Resources.TextLanguage.Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.Data.Count == 0)
        {
            <div class="no-result">No result!</div>
        }
        <div>
            <div class="pager-container">
                @Html.Partial("Pagination")
            </div>
        </div>
    </div>
@Html.Partial("GenerateLanguageModal")
