@Html.Partial("Breadcrumb", new ViewDataDictionary { { "level1", @sReportsV2.Resources.TextLanguage.Administration }, { "activeLevel", 1 } })
@{
    ViewData["Title"] = @sReportsV2.Resources.TextLanguage.Administration;
}
<div class="table-container border-0">
    <div class="header header-new padding-top-4">
        <span class="administration">@sReportsV2.Resources.TextLanguage.Administration</span>
        <button class="btn btn-create float-right" onclick="createNewType()"><i class="fas fa-plus-circle"></i> @sReportsV2.Resources.TextLanguage.AddNew</button>
    </div>
    <div class="form-row predefined-margin">
        <div class="predefined-type">
            <div class="label filter-label">
                @sReportsV2.Resources.TextLanguage.PredefinedTypes
            </div>
            <select class="filter-input arrow-select predefined-select-type" id="predefinedType" name="predefinedType" onchange="getPredefinedType()">
                <option value="">@sReportsV2.Resources.TextLanguage.SelectOption</option>
                @foreach (var predefinedType in Enum.GetNames(typeof(sReportsV2.Common.Enums.PredefinedType)))
                {
                    if (ViewBag.FilterData.PredefinedType != null && ViewBag.FilterData.PredefinedType.ToString() == predefinedType)
                    {
                        <option class="head-and-neck-cancer" selected value="@predefinedType">@sReportsV2.Resources.TextLanguage.ResourceManager.GetString(predefinedType)</option>
                    }
                    else
                    {
                        <option class="head-and-neck-cancer" value="@predefinedType">@sReportsV2.Resources.TextLanguage.ResourceManager.GetString(predefinedType)</option>
                    }
                }
            </select>
        </div>

        <div class="predefined-item">
            <div class="align-right predefined-filter">
                <span id="filterTablePredefined" class="filter-predefined" onclick="filterTableData()">@sReportsV2.Resources.TextLanguage.Filter</span>
            </div>
            <div class="align-right predefined-input">
                <input type="text" class="filter-input" id="preferredTermSearch" name="preferredTermSearch">
            </div>
            <div class="align-right predefined-label">
                <div class="label preferred-label">
                    @sReportsV2.Resources.TextLanguage.Preferred_term:
                </div>
            </div>
        </div>
    </div>

    <div id="tableContainer">

    </div>

</div>

<script>
    var defaultFilter = @Html.Raw(Json.Encode(ViewBag.FilterData));
</script>

@Scripts.Render("~/bundles/administrationPredefined")
