@using sReportsV2.Common.Enums.DocumentPropertiesEnums
<form id="advancedFilterForm" name="AdvancedFilterForm" onsubmit="return false">
    <div class="modal fade" id="advancedFilterModal" tabindex="-1" role="dialog" aria-labelledby="advancedFilterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content modal-content-advanced">
                <div class="float-right filter-close-btn">
                    <img class="close-modal" src="~/Content/img/icons/close_black.svg">
                </div>

                <div class="modal-body modal-body-advanced" id="advancedFilterModalContent">
                    <div class="d-flex advanced-filter-header">
                        <img class="mr-3" src="~/Content/img/icons/advanced_filter.svg">  @sReportsV2.Resources.TextLanguage.Advanced_filter
                    </div>
                    <div class="d-flex margin-top-10">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Name
                            </div>
                            <input type="text" class="filter-input" id="name" value="@(ViewBag.FilterData!= null ? ViewBag.FilterData.Name : "")">
                        </div>

                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Clinical_Domain
                            </div>
                            <select class="filter-input arrow-select" id="clinicalDomain">
                                <option value=""> @sReportsV2.Resources.TextLanguage.SelectOption</option>
                                @foreach (var option in Enum.GetNames(typeof(DocumentClinicalDomain)))
                                {
                                    <option value="@option">@sReportsV2.Resources.TextLanguage.ResourceManager.GetString(option)</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="d-flex margin-top-10">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Identifier_type
                            </div>
                            <select class="filter-input arrow-select" id="identifierType">
                                <option value="">@sReportsV2.Resources.TextLanguage.SelectIdentifier</option>
                                <option @(ViewBag.FilterData.IdentifierType == "O4MtPatientId" ? "selected" : "") value="O4MtPatientId">@sReportsV2.Resources.TextLanguage.IdentifierType_PatientID</option>
                                @foreach (var option in ViewBag.IdentifierTypes)
                                {
                                    <option value="@option.Thesaurus.Id" @(ViewBag.FilterData.IdentifierType == option.Thesaurus.Id ? "selected" : "")>@option.Thesaurus.GetPreferredTermByTranslationOrDefault(ViewBag.UserCookieData.ActiveLanguage as string)</option>
                                }
                            </select>
                        </div>
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Identifier_value
                            </div>
                            <input type="text" class="filter-input " id="identifierValue" value="@(ViewBag.FilterData != null ? ViewBag.FilterData.IdentifierValue : "")" />
                        </div>
                    </div>

                    <div class="d-flex margin-top-10">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.City
                            </div>
                            <input type="text" class="filter-input" id="city" value="@(ViewBag.FilterData != null ? ViewBag.FilterData.City : "")">
                        </div>

                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.State
                            </div>
                            <input type="text" class="filter-input" id="state" value="@(ViewBag.FilterData != null ? ViewBag.FilterData.State : "")">
                        </div>
                    </div>

                    <div class="d-flex margin-top-10">
                        <div class="filter-item advanced-filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Postal_code
                            </div>
                            <input type="text" class="filter-input" id="postalCode" value="@(ViewBag.FilterData != null ? ViewBag.FilterData.PostalCode : "")">
                        </div>

                        <div class="filter-item advanced-filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Street
                            </div>
                            <input type="text" class="filter-input" id="street" value="@(ViewBag.FilterData != null ? ViewBag.FilterData.Street : "")">
                        </div>
                    </div>
                    <div class="d-flex margin-top-10">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Country
                            </div>
                            <input type="text" class="filter-input" id="country" value="@(ViewBag.FilterData != null ? ViewBag.FilterData.Country : "")">
                        </div>

                        <div class="filter-item advanced-filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Alias
                            </div>
                            <input type="text" class="filter-input" id="alias" value="@(ViewBag.FilterData != null ? ViewBag.FilterData.Alias : "")">
                        </div>
                    </div>

                    <div class="d-flex margin-top-10">
                        <div class="filter-item advanced-filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Activity
                            </div>
                            <select class="filter-input arrow-select" id="activity">
                                <option value=""></option>
                                @if (Model != null && Model.Activity)
                                {
                                    <option value="true" selected>@sReportsV2.Resources.TextLanguage.Active</option>
                                }
                                else
                                {
                                    <option value="true">@sReportsV2.Resources.TextLanguage.Active</option>
                                }

                                @if (Model != null && !Model.Activity)
                                {
                                    <option value="false" selected>@sReportsV2.Resources.TextLanguage.Inactive</option>
                                }
                                else
                                {
                                    <option value="false">@sReportsV2.Resources.TextLanguage.Inactive</option>
                                }
                            </select>
                        </div>

                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Type
                            </div>
                            <select class="filter-input arrow-select" id="checkBoxGroup">
                                <option value=""> @sReportsV2.Resources.TextLanguage.SelectOption</option>
                                @foreach (var option in ViewBag.OrganizationTypes)
                                {
                                    <option value="@option.Thesaurus.Id.ToString()">@option.Thesaurus.GetPreferredTermByTranslationOrDefault(ViewBag.UserCookieData.ActiveLanguage as string)</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="d-flex margin-top-10">
                        <div class="advanced-filter-item filter-item" style="width: 47.5%;">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Organization_PartOf
                            </div>
                            <input type="text" class="filter-input" id="parentId" value="@(ViewBag.FilterData != null ? ViewBag.FilterData.Parent : "")">
                        </div>
                    </div>

                    <div class="advanced-filter-line"></div>

                    <div class="d-flex mt-3 position-relative margin-top-20">
                        <div class="button-wrapper-filter filter-button float-right" id="submitFilterButton">
                            <button class="btn btn-filter-primary w-100 h-100" onclick="advanceFilter()"> @sReportsV2.Resources.TextLanguage.Filter</button>
                        </div>
                        <div class="button-wrapper-filter cancel-filter-btn float-right" id="close">
                            <a class="btn advanced-cancel" data-dismiss="modal" aria-label="Close">
                                @sReportsV2.Resources.TextLanguage.Cancel
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
