@{
    ViewBag.Title = @sReportsV2.Resources.TextLanguage.Form_create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using sReportsV2.DTOs.Form.DataOut;
@model FormDataOut

@{
    string formId = Model != null ? Model.Id : "formIdPlaceHolder";
}
@Styles.RenderFormat("<link href='{0}?v=" + System.Reflection.Assembly.GetAssembly(typeof(sReportsV2.MvcApplication)).GetName().Version.ToString() + "' rel='stylesheet'>", "~/Content/nestable.min.css")

<div class="designer-main-content position-relative">
    <canvas id="designerCanvas">
    </canvas>
    @Html.Partial("Breadcrumb", new ViewDataDictionary { { "level1", @sReportsV2.Resources.TextLanguage.Designer }, { "linkLevel1", "/Form/GetAll" }, { "level2", Model != null && Model.Title != null ? Model.Title : @sReportsV2.Resources.TextLanguage.Form_create }, { "activeLevel", 2 } })

    @Html.Partial("~/Views/Form/DragAndDrop/CustomFields/FormAdministrativeData.cshtml", Model)

    <div class="dd-main-container" id="formTreeContainer">
        @Html.Partial("~/Views/Form/DragAndDrop/FormTreeContainer.cshtml", Model)
    </div>
    <div id="consensusPartialContainer">
        @*@if (Model != null)
            {
                @Html.Partial("~/Views/Form/Consensus/ConsensusPartial.cshtml", Model)
            }*@
    </div>
</div>




@Html.Partial("~/Views/Administration/DeleteModal.cshtml")
<div class="designer-form-modal fade">
    <div class="designer-form-modal-body">
        <div class="close-designer-form-modal-button">

        </div>
        <div class="designer-form-modal-title">
            <img src="~/Content/img/icons/editing.svg" />
            <span class="designer-form-title-text"></span>
        </div>
        <div id="designerFormModalMainContent" class="designer-form-modal-main-content">
            @sReportsV2.Resources.TextLanguage.Test
        </div>
    </div>
</div>

<!--<textarea id="nestable-output"></textarea>-->
@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + System.Reflection.Assembly.GetAssembly(typeof(sReportsV2.MvcApplication)).GetName().Version.ToString() + "\"></script>", "~/bundles/dragAndDrop")
@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + System.Reflection.Assembly.GetAssembly(typeof(sReportsV2.MvcApplication)).GetName().Version.ToString() + "\"></script>", "~/bundles/formPartial")
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/adapters/jquery.js"></script>