@{
    ViewBag.Title = "FormGeneralInfo";
}
@using sReportsV2.DTOs.Form.DataOut;
@using sReportsV2.Common.Extensions;

@model FormFieldValueDataOut
<form class="designer-item-form" id="fieldValueGeneralInfoForm">
    <input type="hidden" id="elementId" value="@(string.IsNullOrWhiteSpace(Model.Id) ? GuidExtension.NewGuidStringWithoutDashes() : Model.Id)" />

    <div class="designer-form-section">
        <div class="designer-form-input-group two-margins">
            <div class="label filter-label">
                Label
            </div>
            <input required class="designer-form-input item-title" id="label" name="label" type="text" value="@(Model != null && Model.Label != null ? Model.Label : "")" />
        </div><!--
        --><div class="designer-form-input-group two-margins">
            <div class="label filter-label">
                Value
            </div>
            <input required class="designer-form-input" id="value" name="value" type="text" value="@(Model != null ? Model.Value : "")" />
        </div><!--
        --><div class="designer-form-input-group no-margin-right">
            <div class="label filter-label">
                Numeric value
            </div>
            <input class="designer-form-input" id="numericValue" name="numericValue" type="number" value="@(Model != null && Model.NumericValue != null ? Model.NumericValue.ToString() : "")" />
        </div>
    </div>
    <div class="designer-form-section thesaurus-section">
        <div class="designer-form-section-title">
            @sReportsV2.Resources.TextLanguage.ThesaurusEntry
        </div>
        @Html.Partial("~/Views/Form/DragAndDrop/ThesaurusFilterModal.cshtml")
    </div>
</form>
<div class="button-container">
    <div class="cancel-button cancel-modal-action">
        Back
    </div>
    <div class="submit-button" id="submit-fieldvalue-info">Update data</div>
</div>

<script>
    $(document).ready(function () {
        $('#fieldValueGeneralInfoForm').validate({//#formGeneralInfoForm
            ignore: []
        });

        let fieldValueId = $("#fieldValueGeneralInfoForm").find("#elementId").val();
        if ($("#nestable").find(`[data-id='${fieldValueId}']`).children('.dd-handle').hasClass('nestable-error')) {
            $('#fieldValueGeneralInfoForm').valid();
        }
    });
</script>