
@using sReportsV2.DTOs.Form.DataOut
@using sReportsV2.Common.Extensions
@model List<sReportsV2.DTOs.Form.DataOut.FormCommentDataOut>

@{
    ViewBag.Title = "FormCommentSection";
}
<h2>Comments</h2>

<div id="newComment"></div>
@foreach (var comment in Model.Where(x => string.IsNullOrEmpty(x.CommentRef)).ToList()){


    <div class="comment-group">
        <div class="comment-section" id="@comment.Id" data-field-id="@comment.ItemRef">
            <div class="comment-header">
                <div class="comm-user-icon">
                    <div class="initial-user">@ViewBag.UserCookieData.FirstName.Substring(0, 1).ToUpper()</div>
                </div>
                <div class="comment-user-information">


                    <label class="commented-color">@comment.User.FirstName @comment.User.LastName Commented</label>
                    <label class="create-date-comment">@comment.EntryDatetime.ToTimeZoned(ViewBag.UserCookieData.TimeZoneOffset as string, ViewBag.DateFormat as string)</label>
                </div>
            </div>
            <p class="comment-content @(ViewBag.TaggedCommentId != null && ViewBag.TaggedCommentId == comment.Id ? "comment-highlighted": "")">@Html.Raw(@comment.Value)</p>
            <div class="button comment-status-button d-flex">
                @if (comment.CommentState == sReportsV2.Common.Enums.CommentState.Created)
                {
                    if (ViewBag.CanChangeCommentStatus)
                    {
                        <div class="comment-statuses">
                            <a class="commstatus" onclick="sendCommentStatus('@comment.Id','Archived')">@sReportsV2.Resources.TextLanguage.Archive</a>
                            <a class="commstatus" onclick="sendCommentStatus('@comment.Id','Resolved')">Resolve</a>
                            <a class="commstatus" onclick="sendCommentStatus('@comment.Id','Rejected')">Reject</a>
                        </div>
                    }
                    if (ViewBag.CanAddComment)
                    {
                        <div class="ml-auto">
                            <button type="button" class="replay-button" onclick="replayComment('@comment.Id')">Reply</button>
                        </div>
                    }
                }
            </div>
            @foreach (var reply in Model.Where(x => !string.IsNullOrWhiteSpace(x.CommentRef) && x.CommentRef == comment.Id).OrderBy(x => x.Id))
            {
                <div class="horizontal-comment-line"></div>

                <div class="comment-header">
                    <div class="comm-user-icon">
                        <div class="initial-user-replay">@reply.User.FirstName.Substring(0, 1).ToUpper()</div>
                    </div>
                    <div class="comment-user-information">


                        <label class="comment-replay-color">@reply.User.FirstName @reply.User.LastName  Responded</label>
                        <label class="create-date-comment">@reply.EntryDatetime.ToTimeZoned(ViewBag.UserCookieData.TimeZoneOffset as string, ViewBag.DateFormat as string)</label>
                    </div>
                </div>
                <p class="comment-content @(ViewBag.TaggedCommentId != null && ViewBag.TaggedCommentId == reply.Id ? "comment-highlighted": "")">@Html.Raw(reply.Value)</p>
            }
            <div class="comment-status-container">
                @if (comment.CommentState != sReportsV2.Common.Enums.CommentState.Created)
                {
                    <div class="horizontal-comment-line"></div>

                    @Html.Partial("~/Views/Form/Comments/CommentStatusPartial.cshtml", comment)

                }
            </div>
            <div class="replay-container">
                <div class="horizontal-comment-line" style="margin-bottom: 15px;"></div>
                <form class="w-100" method="post" id="idCommentReplay_@comment.Id" onsubmit="return submitReplayComment(this, event)" novalidate data-id="@comment.Id">
                    @Html.Partial("~/Views/Form/DragAndDrop/CommentInputText.cshtml", new ViewDataDictionary { { "commentId", comment.Id } })

                    <div class="replay-btns">
                        <a class="cancel-replay-button" onclick="cancelReplay('@comment.Id')">@sReportsV2.Resources.TextLanguage.Cancel</a>
                        <button type="submit" class="replay-button-confirm">Reply</button>
                    </div>
                </form>
            </div>

        </div>
    </div>





}




