@using sReportsV2.DTOs.Form.DataOut
@using sReportsV2.Common.Extensions

@model FormCommentListDataOut

@{
    ViewBag.Title = "FormCommentSection";
}

<form class="w-100" method="post" id="idCommentInfo" onsubmit="return submitCommentForm(this, event)" novalidate data-id="0">

    <input type="text" name="itemRef" id="itemRef" value="@(ViewBag.ItemRef !=null ? ViewBag.ItemRef : "")" hidden />

    <div class="comment-header">
        <div class="comm-user-icon">
            <div class="initial-user">@ViewBag.UserCookieData.FirstName.Substring(0, 1).ToUpper()</div>
        </div>
        <div class="comment-user-information">
            <label class="user-info-label">@ViewBag.UserCookieData.FirstName @ViewBag.UserCookieData.LastName</label>
            <label class="create-date-comment">@DateTime.Now.ToTimeZoned(ViewBag.UserCookieData.TimeZoneOffset as string, ViewBag.DateFormat as string)</label>
        </div>
    </div>
    @Html.Partial("~/Views/Form/DragAndDrop/CommentInputText.cshtml", new ViewDataDictionary { {"commentId", "0"} })
    <div class="replay-btns">
        <a class="cancel-new-comment-button" onclick="cancelNewComment()">Cancel</a>
        <button type="submit" class="save-comment-button">@sReportsV2.Resources.TextLanguage.Comment</button>
    </div>
</form>