@{
    ViewBag.Title = "FormGeneralInfo";
}
@using sReportsV2.DTOs.Form.DataOut;
@using sReportsV2.DTOs.Field.DataOut;
@using sReportsV2.Common.Enums;
@using sReportsV2.Common.Extensions
@model FormDataOut



<form class="designer-item-form" id="formGeneralInfoForm">
    <input type="hidden" id="elementId" value="@(Model != null && !string.IsNullOrWhiteSpace(Model.Id)  ? Model.Id : "formIdPlaceHolder")" />
    <input type="hidden" id="lastUpdate" value="@(Model != null && Model.LastUpdate != null ? Model.LastUpdate.Value.ToString("o") : "")" />
    <!--BEGIN GENERAL INFO-->
    <div class="designer-form-section">
        <div class="designer-form-section-title">
            Form General Info
        </div>

        <div class="designer-form-input-group">
            <div class="label filter-label">
                Title
            </div>
            <input required class="designer-form-input item-title" id="title" name="title" type="text" value="@(Model != null && Model.Title != null ? Model.Title : "")" />
        </div> <!--
     --><div class="designer-form-input-group">
            <div class="label filter-label">
                State
            </div>
            <select required class="designer-form-input" id="state" name="state" type="text">
                @foreach (FormDefinitionState s in Enum.GetValues(typeof(FormDefinitionState)).Cast<FormDefinitionState>())
                {               
                     <option value="@s" @((Model != null && Model.State == s) || (Model == null && s == FormDefinitionState.DesignPending) ? "selected" : "")>@sReportsV2.Resources.TextLanguage.ResourceManager.GetString(s.ToString())</option>
                }
            </select>
        </div>
    </div>
    <div class="designer-form-section thesaurus-section">
        <div class="designer-form-section-title">
            @sReportsV2.Resources.TextLanguage.ThesaurusEntry
        </div>
        @Html.Partial("~/Views/Form/DragAndDrop/ThesaurusFilterModal.cshtml")
    </div>
    <div class="designer-form-section">
        <div class="designer-form-section-title">
            Version
        </div><!--
     --><div id="versionWarning" class="sreports-warning" style="display: none;">
            <div class="warning-icon">
                <img src="~/Content/img/icons/warning.svg" />
            </div>
            If you change the version, a new document will be created after form definition is updated
        </div><!--
     --><div class="designer-form-input-group">
            <div class="label filter-label">
                Major
            </div>
            <input required class="designer-form-input version" id="versionMajor" name="versionMajor" type="number" step="1" value="@(Model != null && Model.Version != null ? Model.Version.Major.ToString() : "")" />
        </div><!--
     --><div class="designer-form-input-group">
            <div class="label filter-label">
                Minor
            </div>
            <input required id="versionMinor" class="designer-form-input version" name="versionMinor" type="number" value="@(Model != null && Model.Version != null ? Model.Version.Minor.ToString() : "")" />
        </div>
    </div>
    <!--END GENERAL INFO-->
    @Html.Partial("~/Views/Form/DragAndDrop/FormGeneralInfoDocumentProperties.cshtml")

    @Html.Partial("~/Views/Form/DragAndDrop/FormEpisodeOfCareInfo.cshtml")
    <div class="chechbox-container right">
        <div class="checkbox-group">
            <label class="form-checkbox-label">
                <span>Integrate with patient</span>
                <input id="disablePatientData" value="disablePatientData" @(!Model.DisablePatientData ? "checked" : string.Empty) class="form-checkbox-field" type="checkbox">
                <i class="form-checkbox-button table-checkbox"></i>
            </label>
        </div>
    </div>

    <div class="button-container">
        <div class="cancel-button cancel-modal-action">
            Back
        </div>
        <div class="submit-button" id="submit-general-form-info">Update data</div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#formGeneralInfoForm').validate({//#formGeneralInfoForm
            ignore: ":hidden:not(.validate)"
        });

        let formId = $("#formGeneralInfoForm").find("#elementId").val();
        if ($("#nestable").find(`[data-id='${formId}']`).children('.dd-nohandle').hasClass('nestable-error')) {
            $('#formGeneralInfoForm').valid();
        }
    });
</script>