@using sReportsV2.DTOs.Form
@model sReportsV2.DTOs.EpisodeOfCare.EpisodeOfCareListFormsDataOut

@{
    ViewBag.Title = @sReportsV2.Resources.TextLanguage.CreateDiagnosticReport;
}

<div class="col-12">
    <div class="row">
       
        <div class="col-12">
            <div class="forms-list-container">
                <div class="header-rounded">
                    @sReportsV2.Resources.TextLanguage.SelectReportCreate
                </div>
                <ul class="list-group" style="max-height: 70vh; overflow: auto;">
                    @foreach (FormEpisodeOfCareDataOut form in Model.Forms)
                    {
                        <li class="list-group-item" onclick="createDiagnosticReportFromPatient(event, '@Model.EpisodeOfCare.Id', '@form.Id','@Model.EncounterId')">
                            @form.Title
                            <span class="icon-create">
                                <i class="fas fa-plus"></i>
                            </span>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </div>
</div>
<script>
    var referrals = @Html.Raw(Json.Encode(Model.Referrals));
</script>

