@using sReportsV2.DTOs.Common;
@using sReportsV2.DTOs.Common.DTO;

@model sReportsV2.DTOs.Patient.PatientDataOut
@{
    ViewData["Title"] = @sReportsV2.Resources.TextLanguage.Patient_Create;
    ViewBag.Action = "/Patient/Edit";

}
<input type="hidden" name="formPartialIndicator" value="@ViewBag.Action" />

@Html.Partial("Breadcrumb", new ViewDataDictionary { { "level1", @sReportsV2.Resources.TextLanguage.Patient }, { "linkLevel1", "/Patient/GetAll" }, { "level2", Model != null ? Model.Id.ToString() : @sReportsV2.Resources.TextLanguage.Patient_Create }, { "activeLevel", 2 } })

<div class="patient-general-info">
    <div class="patient-general-info-title">
        @sReportsV2.Resources.TextLanguage.Patient
    </div>
    <div class="properties">
        <div class="property">
            <div class="property-name">@sReportsV2.Resources.TextLanguage.Name</div>
            <div class="property-value">@Model.Name</div>
        </div>
        <div class="property">
            <div class="property-name">@sReportsV2.Resources.TextLanguage.FamilyName</div>
            <div class="property-value">@Model.FamilyName</div>
        </div>
        <div class="property">
            <div class="property-name">@sReportsV2.Resources.TextLanguage.Gender</div>
            <div class="property-value">@Model.Gender</div>
        </div>
        <div class="property">
            <div class="property-name">@sReportsV2.Resources.TextLanguage.BirthDate</div>
            <div class="property-value">@(Model.BirthDate != null ? Model.BirthDate.Value.ToShortDateString() : "Not known")</div>
        </div>
        <div class="property no-border">
            <div class="property-name">@sReportsV2.Resources.TextLanguage.City</div>
            <div class="property-value">@(Model.Address == null || string.IsNullOrWhiteSpace(Model.Address.City) ? "Not known" : Model.Address.City)</div>
        </div>
        <div class="property no-border">
            <button class="button-edit edit-patient-button" id="@Model.Id">
                <i class="fas fa-pen"></i>
                <span>@sReportsV2.Resources.TextLanguage.Edit</span>
            </button>
        </div>
    </div>
</div>
<div class="patient-main-content edit-patient-background">
    <div class="row">
        <div class="col-4">

            <div class="row">
                <div class=" col-12">
                    @Html.Partial("PatientTree", Model)
                </div>
            </div>
        </div>
        <div class="col-8">

            <div class="row">
                <div class="col-12 edit-patient" id="patientContainer">

                </div>
            </div>
        </div>

    </div>
</div>

<div class="custom-modal fade">
    <div class="custom-modal-body">
        <div class="close-custom-modal-button">

        </div>
        <div class="custom-modal-title">
            <img src="~/Content/img/icons/adding_doc.svg" />
            @sReportsV2.Resources.TextLanguage.Adding_documents
        </div>
        <div id="customModalMainContent" class="custom-modal-main-content">
            @sReportsV2.Resources.TextLanguage.Test
        </div>
    </div>
</div>

<script src="~/Scripts/sReports/patientTree.js"></script>
<script src="~/Scripts/sReports/datetimepicker.js"></script>