@using sReportsV2.DTOs.Common;
@using sReportsV2.DTOs.Common.DTO;

@model sReportsV2.DTOs.Patient.PatientDataOut
@{
    ViewData["Title"] = @sReportsV2.Resources.TextLanguage.Patient_Create;
    string hasValue = "-hasvalue";

}

@Html.Partial("Breadcrumb", new ViewDataDictionary { { "level1", @sReportsV2.Resources.TextLanguage.Patient }, { "linkLevel1", "/Patient/GetAll" }, { "level2", Model != null ? Model.Id : @sReportsV2.Resources.TextLanguage.Patient_Create }, { "activeLevel", 2 } })

    <div class="row">
        <div class="col-4">
           
            <div class="row">
                <div class=" col-12">
                    @Html.Partial("PatientTree", Model)
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <div class="entity accordion">
                        <div  class="header-accordion" data-toggle="collapse" data-target="#patientInfo" aria-expanded="false" aria-controls="patientInfo">
                           @sReportsV2.Resources.TextLanguage.Patient : @Model.Name @Model.FamilyName (@Model.BirthDate.GetValueOrDefault().ToString("dd/MM/yyyy"))
                            <button class="btn btn-primary pt-0 pb-0 ml-3"  onclick="createNewDocument(event,'@Model.Id')"><i class="fas fa-plus-circle"></i> @sReportsV2.Resources.TextLanguage.NewDocument</button>
                        </div>
                        <div class=" accordion-content collapse" id="patientInfo">
                            <div class="property row">
                                <div class="property-name col-3">@sReportsV2.Resources.TextLanguage.Name:</div>
                                <div class="property-value col-9">@Model.Name</div>
                            </div>
                            <div class="property row">
                                <div class="property-name col-3">@sReportsV2.Resources.TextLanguage.FamilyName:</div>
                                <div class="property-value col-9">@Model.FamilyName</div>
                            </div>
                            <div class="property row">
                                <div class="property-name col-3">@sReportsV2.Resources.TextLanguage.Gender:</div>
                                <div class="property-value col-9">@Model.Gender</div>
                            </div>
                            <div class="property row">
                                <div class="property-name col-3">@sReportsV2.Resources.TextLanguage.BirthDate:</div>
                                <div class="property-value col-9">@(Model.BirthDate != null ? Model.BirthDate.Value.ToString("dd-MM-yyyy") : "")</div>
                            </div>
                            <div class="property row">
                                <div class="property-name col-3">@sReportsV2.Resources.TextLanguage.City:</div>
                                <div class="property-value col-9">@Model.Address.City</div>
                            </div>
                            <div class="property mb-2 mt-2">
                                <button class="btn btn-primary patient" id="@Model.Id">@sReportsV2.Resources.TextLanguage.EditPatient</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12" id="patientContainer">

                </div>
            </div>
        </div>
        
    </div>


<script src="~/Scripts/sReports/patientTree.js"></script>

