@using sReportsV2.Domain.Entities.PatientEntities;
@model PagedList.IPagedList<PatientEntity>

@{
    ViewBag.Title = @sReportsV2.Resources.TextLanguage.Patients;
}

@Html.Partial("Breadcrumb", new ViewDataDictionary { { "level1", @sReportsV2.Resources.TextLanguage.Patient }, { "activeLevel", 1 } })

    <div class="table-container border-0">
        <div class="header header-new">
            @sReportsV2.Resources.TextLanguage.Patients
            @*<div class="filter-button-collapse" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 18h4v-2h-4v2zM3 6v2h18V6H3zm3 7h12v-2H6v2z" /></svg>
            </div>*@
            <button class="btn btn-create float-right" onclick="createPatientEntry()"><i class="fas fa-plus-circle"></i> @sReportsV2.Resources.TextLanguage.Create</button>
        </div>
        @Html.Partial("PatientFilterGroup")
        <div id="tableContainer">

        </div>

    </div>
@Html.Partial("AdvancedFilterModal")

<script>
    var defaultFilter = @Html.Raw(Json.Encode(ViewBag.FilterData));
</script>

@Scripts.Render("~/bundles/patientGetAll")
