@using sReportsV2.DTOs.CustomEnum.DataOut
<div class="modal fade" id="identifierModal" tabindex="-1" role="dialog" aria-labelledby="identifierModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content modal-content-password">
            <div class="float-right filter-close-btn">
                <img class="close-modal" src="~/Content/img/icons/close_black.svg">
            </div>
            <div class="modal-body">
                <div class="form-group col-md-12">

                    <form id="newIdentifierForm">
                        <div class="d-flex advanced-filter-header">
                            <img class="mr-3" src="~/Content/img/icons/change_password.svg">@sReportsV2.Resources.TextLanguage.Identifier_add
                        </div>
                        <div class="advanced-filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Identifier_name
                            </div>
                            <select required class="filter-input arrow-select" id="newIdentifierSystem" name="newIdentifierSystem">
                                <option value=""></option>
                                @foreach (CustomEnumDataOut type in ViewBag.IdentifierTypes as List<CustomEnumDataOut>)
                                {
                                    <option value="@type.Thesaurus.Id">@type.Thesaurus.GetPreferredTermByTranslationOrDefault(this.ViewData["ActiveLanguage"].ToString())</option>
                                }
                            </select>
                        </div>
                        <div class="advanced-filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Value
                            </div>
                            <input required class="filter-input" type="text" id="newIdentifierValue" name="newIdentifierValue" onkeydown="pressButtonOnEnterKey(event, 'identifier-modal-button')"/>
                        </div>
                        <div class="advanced-filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.IdentifierUse
                            </div>
                            <select class="filter-input arrow-select" id="newIdentifierUse" name="newIdentifierUse">
                                <option value=""></option>
                                @foreach (var identifierUse in Enum.GetValues(typeof(sReportsV2.Common.Enums.IdentifierUseType)))
                                {
                                    <option value="@identifierUse">@sReportsV2.Resources.TextLanguage.ResourceManager.GetString(identifierUse.ToString())</option>
                                }
                            </select>
                        </div>

                        <div class="button-partial">
                            <button id="identifier-modal-button" class="submit-button right-button margin-left-13" type="button" style="outline: none;" onclick="addNewIdentifier(event)" dismiss="modal">
                                <span class="submit-patient-info">@sReportsV2.Resources.TextLanguage.Save</span>
                            </button>
                            <div class="button-wrapper-filter float-right" id="close">
                                <a class="btn advanced-cancel" data-dismiss="modal" aria-label="Close">
                                    @sReportsV2.Resources.TextLanguage.Cancel
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var activeEntity = '@(this.ViewData.ContainsKey("ActiveEntity") ? this.ViewData["ActiveEntity"].ToString() : string.Empty)';
</script>