@using sReportsV2.Common.Extensions;

<div class="d-flex">
    <div class="d-flex main-filter mb-2">

        <div class="filter-item advanced-filter-item margin-right-10 advanced-max-width">
            <div class="label filter-label">
                @sReportsV2.Resources.TextLanguage.Patient
            </div>
            <div id="dropdownSearch" class="position-relative dropdown-search">
                <div id="patient-search">
                    <input autocomplete="off" class="designer-form-input filter-input" id="patientSearch" name="Patient" type="text" @ViewBag.Disabled />
                </div>
                <div id="patientOptions" class="patient-options" aria-labelledby="patient-search">
                </div>
            </div>
            <div id="selected-patients" class="clinical-domain-container">
            </div>
        </div>

        <div class="filter-item advanced-filter-item margin-right-10 advanced-max-width">
            <div class="label filter-label">
                @sReportsV2.Resources.TextLanguage.Family
            </div>
            <input type="text" class="filter-input" id="FamilyTemp">
        </div>
        <div class="filter-item advanced-filter-item margin-right-10 advanced-max-width">
            <div class="label filter-label">
                @sReportsV2.Resources.TextLanguage.Given
            </div>
            <input type="text" class="filter-input" id="GivenTemp">
        </div>
        <div class="filter-item advanced-filter-item margin-right-10 advanced-max-width">
            <div class="label filter-label">
                @sReportsV2.Resources.TextLanguage.BirthDate
            </div>
            @Html.Partial("~/Views/Shared/DateInput.cshtml", new sReportsV2.DTOs.Common.DateInputDTO()
            {
                InputAttributes = new Dictionary<object, object> { 
                    { "class", "filter-input" }, 
                    { "id", "BirthDateTemp" }
                },
                InputBtnAttributes = new Dictionary<object, object> { 
                    { "class", "date-img" }, 
                    { @Html.DateDisabled(readOnly: false), null } 
                },
            })
        </div>
        <div class="filter-item border-0 margin-top-15" style="margin-right:10px;">
            <div class="button-wrapper-filter button-filter" id="submitFilterButton">
                <button class="btn btn-filter-primary w-100 h-100 float-right" onclick="mainFilter()"> @sReportsV2.Resources.TextLanguage.Filter</button>
            </div>
        </div>
        <div id="advancedId" class=" filter-item border-0 margin-top-15">
            <div class="button-wrapper-filter" id="submitFilterButton">
                <button class="btn w-100 h-100 float-right font-size-14 btn-advanced-link" onclick="advancedFilterModal(event)"><img class="display-none" src="~/Content/img/icons/advanced_filter.svg">@sReportsV2.Resources.TextLanguage.Advanced_filter</button>
            </div>
        </div>
    </div>
</div>
<div id="filterElements" class="d-flex">

</div>

<script>
        var loadMore = '@sReportsV2.Resources.TextLanguage.Load_more';
</script>