@model sReportsV2.DTOs.Patient.PatientDataOut
@{
    ViewData["Title"] = @sReportsV2.Resources.TextLanguage.Patient_Create;
}
<div class="patient-background-grey">
    <form method="post" id="idPatientInfo" class="formPatientInfo patient-create @(Model != null ? "patient-edit-view":"")" onsubmit="return submitForm(this, event)" novalidate>

        <input type="hidden" class="form-control" id="patientId" name="Id" value="@( Model != null && Model.Id != 0 ? Model.Id : 0)" />
        <div>


            <div class="info-align" id="createGroup">
                <div class="tab-item active" onclick="showGeneralInfo(event, this)">
                    <i id="general-icon" class="tab-icon general-info-icon active"></i>
                    <span type="text" id="generalButton">@sReportsV2.Resources.TextLanguage.GeneralInfo</span>
                </div>
                <div class="tab-item" onclick="showTelecomInfo(event, this)">
                    <i id="telecom-icon" class="tab-icon telecom-info-icon"></i>
                    <span type="text" id="telecoms">@sReportsV2.Resources.TextLanguage.ContactAndAddress</span>
                </div>
                <div class="tab-item" onclick="showContactPerson(event, this)">
                    <i id="contact-icon" class="tab-icon contact-info-icon"></i>
                    <span type="text" id="contact">@sReportsV2.Resources.TextLanguage.Contact_Person</span>
                </div>
            </div>

            <div id="patientInfoPartial" class="patient-partial">
                @Html.Partial("GeneralInfo")
            </div>
            <div id="patientTelecomPartial" class="info-partial">
                @Html.Partial("PatientTelecom")
            </div>
            <div id="contactPersonPartial" class="info-partial">
                @Html.Partial("ContactPerson")
            </div>

            <div class="line-partial">
                <div class="line-bottom"></div>
            </div>

            <div class="button-partial">
                @if (!ViewBag.ReadOnly)
                {
                    <button class="submit-patient right-button" type="submit" style="outline: none;">
                        <span class="submit-patient-info">@sReportsV2.Resources.TextLanguage.Patient_submit</span>
                    </button>
                }
                <i class="angle-left fas fa-angle-left"></i>
                <div class="text-underline right-button" type="button" onclick="cancelPatientEdit()">
                    <span class="back">@sReportsV2.Resources.TextLanguage.Back</span>
                </div>
            </div>

        </div>

    </form>
</div>

@Html.Partial("IdentifierModal", new ViewDataDictionary { { "ActiveEntity", "Patient" }, { "IdentifierTypes", ViewBag.IdentifierTypes }, { "ActiveLanguage", ViewBag.UserCookieData.ActiveLanguage } })
@Html.Partial("TelecomModal")
@Html.Partial("AddressModal")
@Html.Partial("TelecomModalForPatient")

@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + System.Reflection.Assembly.GetAssembly(typeof(sReportsV2.MvcApplication)).GetName().Version.ToString() + "\"></script>", "~/bundles/patientInfo")