@using sReportsV2.DTOs.EpisodeOfCare;
@using System.Linq;
@using sReportsV2.Common.Extensions;

@model sReportsV2.DTOs.Patient.PatientDataOut

@if (Model != null)
{
    <div class="patient-tree" id="patientTree" data-patientid="@Model.Id">
        <div class="patient-tree-header">
            <div class="patient-tree-title tree-form-title">
                @sReportsV2.Resources.TextLanguage.Episodes_of_cares
            </div>
            <button type="button" class="btn btn-add-new float-right" onclick="addNewEpisodeOfCare('@Model.Id')">
                <i class="fas fa-plus-circle resize-circle"></i> <span class="text-add-new"> @sReportsV2.Resources.TextLanguage.Add_New</span>
            </button>
        </div>
        @if (Model.EpisodeOfCares != null && Model.EpisodeOfCares.Count > 0)
        {
            for (int i = 0; i < Model.EpisodeOfCares.Count; i++)
            {
                <div class="single-episode-of-care-container" id="@Model.EpisodeOfCares[i].Id">
                    <div class="vertical-line" style="display: none;">&nbsp;</div>
                    <div class="eoc-information">
                        <div class="eoc-main-content">
                            <span class="arrow-icon">
                            </span>
                            <span class="title">
                                @(Model.EpisodeOfCares[i].DiagnosisRole != null ? Model.EpisodeOfCares[i].DiagnosisRole.Thesaurus.GetPreferredTermByTranslationOrDefault(ViewBag.UserCookieData.ActiveLanguage) : "Not defined")
                            </span>
                            <span class="status">
                                @sReportsV2.Resources.TextLanguage.ResourceManager.GetString(Model.EpisodeOfCares[i].Status)
                            </span>
                        </div>
                        <div class="dates">
                            <div class="start-date">
                                <span class="calendar-icon">
                                    <img src="~/Content/img/icons/calendar_green.svg" />
                                </span>
                                <span class="calendar-text">
                                    @(Model.EpisodeOfCares[i].Period.StartDate.ToShortDateString())
                                </span>
                            </div>
                            <div class="end-date">
                                <span class="calendar-icon">
                                    @if (Model.EpisodeOfCares[i].Period.EndDate != null)
                                    {
                                        <img src="~/Content/img/icons/calendar_green.svg" />

                                    }
                                </span>
                                <span class="calendar-text">
                                    @(Model.EpisodeOfCares[i].Period.EndDate != null ? Model.EpisodeOfCares[i].Period.EndDate.Value.ToShortDateString() : "")
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="encounter-container">
                        <div class="add-new-button" onclick="addNewEncounter(event, '@Model.EpisodeOfCares[i].Id')">
                            <span class="icon-plus">
                                <img src="~/Content/img/icons/add_new.svg" />
                            </span>
                            <span class="label">
                                @sReportsV2.Resources.TextLanguage.Add_new_encounter
                            </span>
                        </div>
                        <div class="encounter-container-items">
                            @if (Model.EpisodeOfCares[i].Encounters != null)
                            {
                                @Html.Partial("~/Views/Encounter/PatientTreeEncounterItems.cshtml", Model.EpisodeOfCares[i].Encounters)
                            }
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="empty-episode-of-care-placeholder">
                <img src="~/Content/img/icons/placeholder_patient.svg" />
                <div class="no-result-text">
                    @sReportsV2.Resources.TextLanguage.There_is_no_any_Episode_of_care_added<br />
                    @sReportsV2.Resources.TextLanguage.Add_an_Episode_of_Care
                </div>
            </div>
        }
    </div>
}


<script>
    @if (ViewBag.IsPageReload != null && ViewBag.IsPageReload)
    {
        <text>
            $(document).ready(function () {
                setDefaultTreeSelectedValue('@ViewBag.ActiveElementParent', '@ViewBag.ActiveElement', '@ViewBag.ActiveElementType')
            })
        </text>
    }
</script>