<div class="modal fade" id="telecomModal" tabindex="-1" role="dialog" aria-labelledby="telecomModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content modal-content-password">
            <div class="float-right filter-close-btn">
                <img class="close-modal" src="~/Content/img/icons/close_black.svg">
            </div>
            <div class="modal-body">
                <div class="form-group col-md-12">

                    <form id="newTelecomForm">
                        <div class="d-flex advanced-filter-header">
                            <img class="mr-3" src="~/Content/img/icons/change_password.svg">@sReportsV2.Resources.TextLanguage.Telecom_Add
                        </div>
                        <div class="advanced-filter-item filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Telecom_System
                            </div>
                            <select class="filter-input arrow-select" id="newTelecomSystem" name="newTelecomSystem">
                                <option value=""></option>
                                @foreach (var systemTypeTelecom in Enum.GetNames(typeof(sReportsV2.Common.Enums.TelecomSystemType)))
                                {
                                    <option value="@systemTypeTelecom">@sReportsV2.Resources.TextLanguage.ResourceManager.GetString(systemTypeTelecom as string)</option>
                                }
                            </select>
                        </div>
                        <div class="advanced-filter-item filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Telecom_Value
                            </div>
                            <input required class="filter-input" type="text" id="newTelecomValue" name="newTelecomValue" />
                        </div>
                        <div class="advanced-filter-item filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Telecom_Use
                            </div>
                            <select class="filter-input arrow-select" id="newTelecomUse" name="newTelecomUse">
                                <option value=""></option>
                                @foreach (var telecomUse in Enum.GetNames(typeof(sReportsV2.Common.Enums.TelecomUseType)))
                                {
                                    <option value="@telecomUse">@sReportsV2.Resources.TextLanguage.ResourceManager.GetString(telecomUse as string)</option>
                                }
                            </select>
                        </div>

                        <div class="button-partial">
                            <button class="submit-button right-button margin-left-13" type="button" style="outline: none;" onclick="addNewTelecom(event)" dismiss="modal">
                                <span class="submit-patient-info">@sReportsV2.Resources.TextLanguage.Save</span>
                            </button>
                            <div class="button-wrapper-filter float-right" id="close">
                                <a class="btn advanced-cancel" data-dismiss="modal" aria-label="Close">
                                    @sReportsV2.Resources.TextLanguage.Cancel
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

