<div class="modal fade" id="telecomModalForPatient" tabindex="-1" role="dialog" aria-labelledby="telecomModalForPatientLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content modal-content-password">
            <div class="float-right filter-close-btn">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group col-md-12">

                    <form id="newTelecomFormForPatient">
                        <div class="d-flex advanced-filter-header">
                            <img class="mr-3" src="~/Content/img/icons/change_password.svg">@sReportsV2.Resources.TextLanguage.Telecom_Add
                        </div>
                        <div class="advanced-filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Telecom_System
                            </div>
                            <select class="filter-input arrow-select" id="telecomSystemForPatient" name="telecomSystemForPatient">
                                <option value=""></option>
                                @foreach (var systemTypeTelecom in Enum.GetNames(typeof(sReportsV2.Common.Enums.TelecomSystemType)))
                                {
                                    <option value="@systemTypeTelecom">@sReportsV2.Resources.TextLanguage.ResourceManager.GetString(systemTypeTelecom as string)</option>
                                }
                            </select>
                        </div>
                        <div class="advanced-filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Telecom_Value
                            </div>
                            <input required class="filter-input" type="text" id="telecomValueForPatient" name="telecomValueForPatient" onkeydown="pressButtonOnEnterKey(event, 'patient-telecom-modal-button')"/>
                        </div>
                        <div class="advanced-filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Telecom_Use
                            </div>
                            <select class="filter-input arrow-select" id="telecomUseForPatient" name="telecomUseForPatient">
                                <option value=""></option>
                                @foreach (var telecomUse in Enum.GetNames(typeof(sReportsV2.Common.Enums.TelecomUseType)))
                                {
                                    <option value="@telecomUse">@sReportsV2.Resources.TextLanguage.ResourceManager.GetString(telecomUse as string)</option>
                                }
                            </select>
                        </div>

                        <div class="button-partial">
                            <button id="patient-telecom-modal-button" class="submit-patient right-button" type="button" style="outline: none;" onclick="addNewTelecomForPatient(event)" dismiss="modal">
                                <span class="submit-patient-info">@sReportsV2.Resources.TextLanguage.Save</span>
                            </button>
                            <div class="button-wrapper-filter cancel-filter-btn float-right" id="close">
                                <a class="btn advanced-cancel" data-dismiss="modal" aria-label="Close">
                                    @sReportsV2.Resources.TextLanguage.Cancel
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

