@model sReportsV2.DTOs.ThesaurusEntry.DataOut.ThesaurusEntryDataOut
@{
    var thesaurusId = Model != null ? Model.Id : 0;
    var backUrlToPreview = thesaurusId > 0 ? string.Format("/ThesaurusGlobal/PreviewThesaurus?Id={0}", thesaurusId) : "/";
    var backUrlToCreate = thesaurusId > 0 ? string.Format("/ThesaurusGlobal/Create?Id={0}", thesaurusId) : "/";
    ViewBag.Title = "Submit new term";
}
<input type="hidden" id="id" value="@thesaurusId" />
<div class="thesaurus-preview">
    <div class="tp-title">
        <b>@(Model != null ? Model.GetPreferredTermByTranslationOrDefault(Model.PreferredLanguage) : "")</b>
        @if (thesaurusId > 0)
        {
            <div class="contribute-btn" onclick="contributeToTranslation(event, @thesaurusId, '@backUrlToCreate')">
                <img src="~/Content/img/icons/SwissOpenOncology/translation.svg"> Contribute to translation
            </div>
        }
    </div>
    <div class="preview-content">
        @Html.Partial("~/Views/ThesaurusGlobal/Shared/ThesaurusTree.cshtml", Model, new ViewDataDictionary() { { "editable", thesaurusId > 0 } })

        <div class="preview-translations">
            @Html.Partial("~/Views/ThesaurusGlobal/Create/TranslationsPreview.cshtml", Model)

            <div class="@(Model != null ? "buttons-container":"")">
                <div class="codes-btns " style="height:80px;">
                    <div class="button-wrapper-filter filter-button" id="submitFilterButton" style="right:0px;">
                        <button class="btn btn-filter-primary w-100 h-100" onclick="submitThesaurus(event)">Save</button>
                    </div>
                    <div class="button-wrapper-filter cancel-filter-btn float-right" id="close" style="right: 90px;" onclick="goBack('@backUrlToPreview')">
                        <a class="btn advanced-cancel" data-dismiss="modal" aria-label="Close">
                            @sReportsV2.Resources.TextLanguage.Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + System.Reflection.Assembly.GetAssembly(typeof(sReportsV2.MvcApplication)).GetName().Version.ToString() + "\"></script>", "~/Scripts/SwissOpenOncology/thesaurusPreview.js")
@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + System.Reflection.Assembly.GetAssembly(typeof(sReportsV2.MvcApplication)).GetName().Version.ToString() + "\"></script>", "~/Scripts/sReports/tableCommon.js")