@using sReportsV2.DTOs.DigitalGuideline.DataOut
@model GuidelineElementDataDataOut

<div class="node-preview-section">
    <div class="section-title">Publications</div>
    <div class="section-tabs">
        @for (int i = 0; i < Model.EvidenceProperties.Publications.Count; i++)
        {
            <div class="section-tab @(i==0 ? "active": "")" data-target="@Model.EvidenceProperties.Publications[i].Id">
                @Model.EvidenceProperties.Publications[i].Title
            </div>
        }
    </div>
    @for (int i = 0; i < Model.EvidenceProperties.Publications.Count; i++)
    {
        <div class="section-items tab-content @(i==0 ? "active": "")" id="@Model.EvidenceProperties.Publications[i].Id">
            <div class="section-item">
                <div class="section-items-cell">
                    Title:
                </div>
                <div class="section-items-cell no-left-border">
                    @Model.EvidenceProperties.Publications[i].Title
                </div>
            </div>
            <div class="section-item">
                <div class="section-items-cell">
                    Author:
                </div>
                <div class="section-items-cell no-left-border">
                    @Model.EvidenceProperties.Publications[i].Author
                </div>
            </div>
            <div> </div>
            <div class="section-item">
                <div class="section-items-cell no-top-border">
                    DOI:
                </div>
                <div class="section-items-cell no-left-border no-top-border">
                    @Model.EvidenceProperties.Publications[i].Doi
                </div>
            </div>
            <div class="section-item">
                <div class="section-items-cell no-top-border">
                    NameOfDatabase:
                </div>
                <div class="section-items-cell no-top-border no-left-border">
                    @Model.EvidenceProperties.Publications[i].NameOfDatabase
                </div>
            </div>
            <div class="section-item">
                <div class="section-items-cell no-top-border">
                    URL:
                </div>
                <div class="section-items-cell no-left-border no-top-border">
                    <a href="@Model.EvidenceProperties.Publications[i].URL" target="_blank">@Model.EvidenceProperties.Publications[i].URL</a>
                </div>
            </div>
            <div class="publication-full-details">
                <div class="section-item">
                    <div class="section-items-cell no-top-border">
                        Abstract
                    </div>
                    <div class="section-items-cell no-left-border no-top-border">
                        @Model.EvidenceProperties.Publications[i].Abstract
                    </div>
                </div>
                <div class="section-item">
                    <div class="section-items-cell no-top-border">
                        Accession Number
                    </div>
                    <div class="section-items-cell no-left-border no-top-border">
                        @Model.EvidenceProperties.Publications[i].AccessionNumber
                    </div>
                </div>
                <div class="section-item">
                    <div class="section-items-cell no-top-border">
                        Translated Title
                    </div>
                    <div class="section-items-cell no-left-border no-top-border">
                        @Model.EvidenceProperties.Publications[i].TranslatedTitle
                    </div>
                </div>
                <div class="section-item">
                    <div class="section-items-cell no-top-border">
                        Alternate Title
                    </div>
                    <div class="section-items-cell no-left-border no-top-border">
                        @Model.EvidenceProperties.Publications[i].AlternateTitle
                    </div>
                </div>
                <div class="section-item">
                    <div class="section-items-cell no-top-border">
                        Keywords
                    </div>
                    <div class="section-items-cell no-left-border no-top-border">
                        @Model.EvidenceProperties.Publications[i].Keywords
                    </div>
                </div>
            </div>
            <div class="publication-show-full-details">
                <span>Show all properties</span>

            </div>
        </div>
    }


</div>