<div class="modal fade" id="institutionModal" tabindex="-1" role="dialog" aria-labelledby="institutionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content modal-content-institution">
            <div class="float-right filter-close-btn">
                <img class="close-modal" src="~/Content/img/icons/close_black.svg">
            </div>
            <div class="modal-body">
                <div class="form-group col-md-12">

                    <form id="institutionForm">
                        <div class="d-flex advanced-filter-header">
                            <img class="mr-3" src="~/Content/img/icons/change_password.svg"> Add new institution
                        </div>
                        <div class="advanced-filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Organization
                            </div>
                            <select class="organizations filter-input arrow-select patient-background" id="newOrganization" name="newOrganization" placeholder="@sReportsV2.Resources.TextLanguage.Organization">
                                <option selected value=""></option>
                            </select>
                        </div>
                        <div class="button-partial">
                            <button class="submit-button right-button margin-left-13" type="button" style="outline: none;" id="buttonSubmitPassword" onclick="addNewOrganizationData()" dismiss="modal">
                                <span class="submit-patient-info">@sReportsV2.Resources.TextLanguage.Confirm</span>
                            </button>
                            <div class="button-wrapper-filter float-right" id="close">
                                <a class="btn advanced-cancel" data-dismiss="modal" aria-label="Close">
                                    @sReportsV2.Resources.TextLanguage.Cancel
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.organizations').select2({
            minimumInputLength: 3,
            placeholder: '@sReportsV2.Resources.TextLanguage.Organization_PartOfPlaceholder',
            allowClear: true,
          ajax: {
            url: `/Organization/GetAutocompleteData?organizationId=${$('#id').val()}`,
            dataType: 'json',
            data: function (params) {
              return {
                Term: params.term, // search term
                  Page: params.page,
                  ExcludeId: $("#id").val()
              };
            },

                // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
            }
        });
    });
</script>

