
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content modal-content-password">
            <div class="float-right filter-close-btn">
                <img class="close-modal" src="~/Content/img/icons/close_black.svg">
            </div>
            <div class="modal-body">
                <div class="form-group col-md-12">

                    <form id="newPasswordForm">
                        <div class="d-flex advanced-filter-header">
                            <img class="mr-3" src="~/Content/img/icons/change_password.svg">@sReportsV2.Resources.TextLanguage.Change_password
                        </div>
                        <div class="advanced-filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.OldPassword
                            </div>
                            <input required class="filter-input" type="password" id="oldPassword" name="oldPassword" onkeydown="pressButtonOnEnterKey(event, 'change-password-modal-button')"/>
                            <div id="oldPasswordId" class="text-danger"></div>
                        </div>
                        <div class="advanced-filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.NewPassword
                            </div>
                            <input required class="filter-input" type="password" id="newPassword" name="newPassword" onkeydown="pressButtonOnEnterKey(event, 'change-password-modal-button')"/>
                        </div>
                        <div class="advanced-filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.ConfirmPassword
                            </div>
                            <input required class="filter-input" type="password" id="confirmPassword" name="confirmPassword" onkeydown="pressButtonOnEnterKey(event, 'change-password-modal-button')"/>
                            <div id="confirmPasswordId" class="text-danger"></div>
                        </div>

                        <div class="button-partial">
                            <button id="change-password-modal-button" class="submit-button right-button margin-left-13" type="button" style="outline: none;" id="buttonSubmitPassword" onclick="generateNewPassword()" dismiss="modal">
                                <span class="submit-patient-info">@sReportsV2.Resources.TextLanguage.Save</span>
                            </button>
                            <div class="button-wrapper-filter float-right" id="close">
                                <a class="btn advanced-cancel" data-dismiss="modal" aria-label="Close">
                                    @sReportsV2.Resources.TextLanguage.Cancel
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
