@model List<sReportsV2.DTOs.User.DTO.ClinicalTrialDTO>
@using System.Linq;

@if (ViewBag.UserAdministration)
{
    <div class="margin-bottom-35 trial-container">
        @Html.Partial("UserClinicalTrial", new sReportsV2.DTOs.User.DTO.ClinicalTrialDTO())
    </div>
}

<div id="clinicalTrialsMessage" class="display-none">@ViewBag.Message</div>
<div class="d-flex">
    <div class="ct-tab active trials">
        <img src="~/Content/img/icons/clinical_trials_green.svg"> @sReportsV2.Resources.TextLanguage.ClinicalTrials
    </div>
    <div class="ct-tab archived-trials">
        <img src="~/Content/img/icons/archive_black.svg"> @sReportsV2.Resources.TextLanguage.Archive
    </div>
</div>
<div id="clinicalTrials" class="mt-4">
    @if (Model != null)
    {
        <div id="notArchivedTrials">
            @RenderClinicalTrials(Model.Where(x => !x.IsArchived.Value))
        </div>
        <div id="archivedTrials" style="display:none;">
            @RenderClinicalTrials(Model.Where(x => x.IsArchived.Value))
        </div>

    }
</div>

<div class="button-partial clinical-trial-btn-group user-btn-top-border">
    <i class="angle-left fas fa-angle-left"></i>
    <div class="text-underline right-button" type="button" onclick="cancelUserEdit()">
        <span class="back">@sReportsV2.Resources.TextLanguage.Back</span>
    </div>
</div>

@helper RenderClinicalTrials(IEnumerable<sReportsV2.DTOs.User.DTO.ClinicalTrialDTO> clinicalTrials)
{
    foreach (var clinicalTrial in clinicalTrials)
    {
        <div class="padding-bottom-10 single-ct" data-ct-id="@clinicalTrial.Id">
            <div class="d-flex institution-header" id="ctHeader-@clinicalTrial.Id" data-toggle="collapse" role="button" onclick="collapseChapter(this)" data-target="#clinicaltrial-@clinicalTrial.Id" aria-expanded="false" aria-controls="clinicaltrial-@clinicalTrial.Id">
                <i class="fas fa-angle-down institution-icon"></i>
                <div class="institution-header-name">@clinicalTrial.Name</div>
                <div class="institution-header-role">
                    <div class="user-td-color">@sReportsV2.Resources.TextLanguage.Roles</div>
                    <div class="header-role-value">@(!string.IsNullOrWhiteSpace(clinicalTrial.Role.ToString()) ? sReportsV2.Resources.TextLanguage.ResourceManager.GetString(clinicalTrial.Role.ToString()) : sReportsV2.Resources.TextLanguage.Unknown)</div>
                </div>
                <div class="institution-header-status">
                    <div class="user-td-color">@sReportsV2.Resources.TextLanguage.Status</div>
                    <div class="user-status-item ct-status-value">@(!string.IsNullOrWhiteSpace(clinicalTrial.Status.ToString()) ? sReportsV2.Resources.TextLanguage.ResourceManager.GetString(clinicalTrial.Status.ToString()) : sReportsV2.Resources.TextLanguage.Unknown)</div>
                </div>
            </div>
            <div class="single-institution collapse chapter trial-container" id="clinicaltrial-@clinicalTrial.Id">
                @Html.Partial("UserClinicalTrial", clinicalTrial)
            </div>
        </div>
    }
}