@using sReportsV2.Domain.Entities.EpisodeOfCareEntities;
@using sReportsV2.DTOs.Patient;

@model PagedList.IPagedList<EpisodeOfCareEntity>

@{
    ViewBag.Title = @sReportsV2.Resources.TextLanguage.EpisodesOfCare;
}

@Html.Partial("Breadcrumb", new ViewDataDictionary { { "level1", @sReportsV2.Resources.TextLanguage.EpisodesOfCare }, { "activeLevel", 1 } })

<div class="table-container">
    <div class="header filter-item">
        @sReportsV2.Resources.TextLanguage.Episodes_Of_Care
        <div class="filter-button-collapse" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 18h4v-2h-4v2zM3 6v2h18V6H3zm3 7h12v-2H6v2z" /></svg>
        </div>
        @*<button id="createEoc" class="btn btn-primary add-new-button element-invisible eoc" onclick="newEpisodeOfCare()">
                <i class="fas fa-plus-circle"></i>
                @sReportsV2.Resources.TextLanguage.Create
            </button>*@
    </div>
    <div id="tableContainer">

    </div>
</div>
<script>
    var defaultFilter = @Html.Raw(Json.Encode(ViewBag.FilterData));
</script>


@Scripts.Render("~/bundles/episodeOfCareGetAll")




