@model sReportsV2.DTOs.EpisodeOfCare.EpisodeOfCareDataOut
@{
    ViewBag.Title = @sReportsV2.Resources.TextLanguage.EOC_Create;
}

<form method="post" id="idEPisodeOfCare" class="formEpisodeOfCare" onsubmit="return submitEOCForm(this)" novalidate>
    <input type="hidden" class="form-control" id="id" value="@(Model != null && Model.Id != 0 ? Model.Id : 0 )" />
    <input type="hidden" class="form-control" id="patientId" value="@(ViewBag.Patient.Id )" />
    <input class="form-control" id="lastUpdate" name="LastUpdate" value="@(Model != null && Model.LastUpdate != null ? Model.LastUpdate.Value.ToString("o") : "")" type="hidden" />
    <input type="hidden" class="form-control" id="episodeOfCareId" value="@(Model != null ? Model.Id : 0 )" />

    <div class="form-row">
        <div class="col-12">
            <div class="tree-form-title">
                @(Model != null && Model.DiagnosisRole != null ? Model.DiagnosisRole.Thesaurus.GetPreferredTermByTranslationOrDefault(ViewBag.UserCookieData.ActiveLanguage) : "New episode of care")
            </div>
            <div class="d-flex margin-top-20">
                <div class="advanced-filter-item filter-item">
                    <div class="label filter-label">
                        @sReportsV2.Resources.TextLanguage.EOC_Type_Name
                    </div>
                    <select class="filter-input arrow-select patient-background padding-right-36" id="type" name="Type">
                        <option value=""></option>
                        @foreach (var episodeOfCareType in ViewBag.EpisodeOfCareTypes)
                        {
                            <option value="@episodeOfCareType.Thesaurus.Id" @(Model != null && Model.Type != null && Model.Type.Equals(episodeOfCareType.Thesaurus.Id) ? "selected" : "")>
                                @episodeOfCareType.Thesaurus.GetPreferredTermByTranslationOrDefault(ViewBag.UserCookieData.ActiveLanguage)
                            </option>

                        }
                    </select>
                </div>
                <div class="advanced-filter-item filter-item">
                    <div class="label filter-label">
                        @sReportsV2.Resources.TextLanguage.Status
                    </div>
                    <select class="filter-input arrow-select patient-background" id="status" name="Status" required>
                        <option value=""></option>
                        @foreach (var statusOption in Enum.GetNames(typeof(sReportsV2.Common.Enums.EOCStatus)))
                        {
                            <option value="@statusOption" @(Model != null && Model.Status != null && Model.Status.Equals(statusOption) ? "selected" : "")>
                                @sReportsV2.Resources.TextLanguage.ResourceManager.GetString(statusOption)
                            </option>

                        }
                    </select>
                </div>
            </div>

            <div class="d-flex margin-top-20">
                <div class="advanced-filter-item filter-item">
                    <div class="label filter-label">
                        @sReportsV2.Resources.TextLanguage.EOC_DiagnosisRole_Name
                    </div>
                    <select class="filter-input arrow-select patient-background" id="diagnosisRole" name="Role" required>
                        <option value=""></option>
                        @foreach (var roleOption in ViewBag.DiagnosisRoles)
                        {
                            <option value="@roleOption.Thesaurus.Id" @(Model != null && Model.DiagnosisRole != null && Model.DiagnosisRole.Thesaurus.Id.Equals(roleOption.Thesaurus.Id) ? "selected" : "")>
                                @roleOption.Thesaurus.GetPreferredTermByTranslationOrDefault(ViewBag.UserCookieData.ActiveLanguage)
                            </option>
                        }
                    </select>
                </div>
                <div class="advanced-filter-item filter-item">
                    <div class="label filter-label">
                        @sReportsV2.Resources.TextLanguage.EOC_DiagnosisCondition_Name
                    </div>
                    <input class="filter-input" type="text" id="diagnosisCondition" value="@(Model != null && Model.DiagnosisCondition != null ? Model.DiagnosisCondition : "")" />
                </div>
            </div>

            <div class="d-flex margin-top-20">
                <div class="advanced-filter-item filter-item">
                    <div class="label filter-label">
                        @sReportsV2.Resources.TextLanguage.EOC_PeriodStartDate
                    </div>
                    <input type="text" class="filter-input" id="periodStartDate" value="@(Model != null && Model.Period.StartDate != null ? Model.Period.StartDate.ToShortDateString() : "")" required/>
                    <img class="date-img eoc-form-date-img" src="~/Content/img/icons/date_field.svg" id="startDateCalendar">
                </div>
                <div class="advanced-filter-item filter-item">
                    <div class="label filter-label">
                        @sReportsV2.Resources.TextLanguage.EOC_PeriodEndDate
                    </div>
                    <input type="text" class="filter-input" id="periodEndDate" value="@(Model != null && Model.Period.EndDate != null ? Model.Period.EndDate.Value.ToShortDateString() : "")"/>
                    <img class="date-img eoc-form-date-img" src="~/Content/img/icons/date_field.svg" id="endDateCalendar">
                </div>
            </div>
            <div class="d-flex margin-top-20">
                <div class="advanced-filter-item filter-item">
                    <div class="label filter-label">
                        @sReportsV2.Resources.TextLanguage.Description
                    </div>
                    <textarea class="filter-input" type="text" form="idEPisodeOfCare" id="description" rows="5" name="Description" value="@(Model != null && Model.Description != null ? Model.Description : "")" required>@(Model != null && Model.Description != null ? Model.Description : "")</textarea>
                </div>
                <div class="advanced-filter-item filter-item">
                    <div class="label filter-label">
                        @sReportsV2.Resources.TextLanguage.EOC_DiagnosisRank_Name
                    </div>
                    <input class="filter-input" type="number" id="diagnosisRank" name="diagnosisRank" value="@(Model != null && Model.DiagnosisRank != null ? Model.DiagnosisRank : "")" />
                </div>
            </div>

            <div class="button-container">
                <button class="submit-button" type="submit">
                    @sReportsV2.Resources.TextLanguage.Save
                </button>
                @if (Model != null)
                {
                    <button class="submit-button" type="submit" onclick="addNewEncounter(event,'@Model.Id')">
                        @sReportsV2.Resources.TextLanguage.NewEncounter
                    </button>
                }
            </div>
        </div>

    </div>

</form>

<script src="~/Scripts/sReports/episodeOfCare.js"></script>