<div class="d-flex">
    @if (ViewBag.FilterFormInstanceDataIn != null)
    {
        if (ViewBag.FilterFormInstanceDataIn.DocumentClass != null)
        {
            <div class="filter-element w-auto">
                @ViewBag.FilterFormInstanceDataIn.DocumentClass.ToString()
            </div>
        }
        if (ViewBag.FilterFormInstanceDataIn.ClassesOtherValue != null && ViewBag.FilterFormInstanceDataIn.ClassesOtherValue != "null" &&  ViewBag.FilterFormInstanceDataIn.ClassesOtherValue != "undefined")
        {
            <div class="filter-element">
                @ViewBag.FilterFormInstanceDataIn.ClassesOtherValue.ToString()
            </div>
        }
        if (ViewBag.FilterFormInstanceDataIn.GeneralPurpose != null)
        {
            <div class="filter-element">
                @ViewBag.FilterFormInstanceDataIn.GeneralPurpose.ToString()
            </div>
        }
        if (ViewBag.FilterFormInstanceDataIn.ExplicitPurpose != null)
        {
            <div class="filter-element">
                @ViewBag.FilterFormInstanceDataIn.ExplicitPurpose.ToString()
            </div>
        }
        if (ViewBag.FilterFormInstanceDataIn.ScopeOfValidity != null)
        {
            <div class="filter-element">
                @ViewBag.FilterFormInstanceDataIn.ScopeOfValidity.ToString()
            </div>
        }
        if (ViewBag.FilterFormInstanceDataIn.ClinicalDomain != null)
        {
            <div class="filter-element">
                @ViewBag.FilterFormInstanceDataIn.Clinical_Domain.ToString()
            </div>
        }
        if (ViewBag.FilterFormInstanceDataIn.ClinicalContext != null)
        {
            <div class="filter-element">
                @ViewBag.FilterFormInstanceDataIn.Clinical_Context.ToString()
            </div>
        }
        if (ViewBag.FilterFormInstanceDataIn.FollowUp != null)
        {
            <div class="filter-element">
                @ViewBag.FilterFormInstanceDataIn.FollowUp.ToString()
            </div>
        }
        if (ViewBag.FilterFormInstanceDataIn.AdministrativeContext != null)
        {
            <div class="filter-element">
                @ViewBag.FilterFormInstanceDataIn.AdministrativeContext.ToString()
            </div>
        }
    }
</div>
