@using sReportsV2.DTOs.Form;
@using sReportsV2.DTOs.Form.DataOut;
@using sReportsV2.Common.Constants;

@model sReportsV2.DTOs.Pagination.PaginationDataOut<FormDataOut, FormFilterDataIn>

@{
    ViewBag.Title = @sReportsV2.Resources.TextLanguage.DataCaptureEngine;
    var userCookieData = ViewBag.UserCookieData;
}

@Html.Partial("Breadcrumb", new ViewDataDictionary { { "level1", @sReportsV2.Resources.TextLanguage.DataCaptureEngine }, { "activeLevel", 1 } })
<div class="table-container border-0">
    <div class="header header-new">
        @sReportsV2.Resources.TextLanguage.DataCaptureEngine
        @if (userCookieData.UserHasPermission(PermissionNames.Download, ModuleNames.Engine))
        {
            <div class="dropdown show float-right dropleft">
                <a class="dropdown-button" href="#" role="button" id="dropdownMenuLink-group" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <button id="btns" class="btn btn-filter-primary btns" style="height:unset"><img src="~/Content/img/icons/dropdown.svg" /></button>
                </a>
                <div class="dropdown-menu-customize dropdown-menu" aria-labelledby="dropdownMenuLink-group">
                    <a class="dropdown-item" href="#" onclick="downloadCSVs(event)"><i class="fas fa-arrow-down mr-2"></i>@sReportsV2.Resources.TextLanguage.DownloadCsvs</a>
                    <a class="dropdown-item" href="#" onclick="downloadPdfs(event)"><i class="fas fa-arrow-down mr-2"></i>@sReportsV2.Resources.TextLanguage.DownloadPdfs</a>

                </div>
            </div>
        }

    </div>
    @Html.Partial("~/Views/Form/FormFilterGroup.cshtml")

    <div id="tableContainer"></div>

</div>
@Html.Partial("~/Views/Form/AdvancedFilterModal.cshtml")


<script>
    var defaultFilter = @Html.Raw(Json.Encode(ViewBag.FilterData));
</script>
@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + System.Reflection.Assembly.GetAssembly(typeof(sReportsV2.MvcApplication)).GetName().Version.ToString() + "\"></script>", "~/bundles/GetAllFormDefinitions")