
@using sReportsV2.DTOs.FormInstance;
@using sReportsV2.Common.Constants;
@model sReportsV2.DTOs.FormInstance.DataOut.FormInstanceDataOut

@{
    ViewBag.Title = @sReportsV2.Resources.TextLanguage.CreateFormInstance;
    FormInstanceFilterDataIn filterDataIn = ViewBag.FilterFormInstanceDataIn as FormInstanceFilterDataIn;
    var userCookieData = ViewBag.UserCookieData;
}
@if (!ViewBag.FilterFormInstanceDataIn.IsSimplifiedLayout)
{
    @Html.Partial("Breadcrumb", new ViewDataDictionary {
    { "level1", sReportsV2.Resources.TextLanguage.DataCaptureEngine },
    { "linkLevel1", "/FormInstance/GetAllFormDefinitions" },
    { "level2", ViewBag.FilterFormInstanceDataIn.Title != null ? ViewBag.FilterFormInstanceDataIn.Title : "" },
    { "activeLevel", 2 }
})

}
else
{
    <script>
        simplifiedApp = "/CRF/Edit"
    </script>
}
<div class="d-none" id="thesaurusId">@ViewBag.FilterFormInstanceDataIn.ThesaurusId</div>
<div class="table-container border-0">
    <div class="header header-new">

        @ViewBag.FilterFormInstanceDataIn.Title

        @{
            string current = Request.Params["ThesaurusId"];
            string language = ViewBag.Language;
        }

        <button class="btn btn-filter-primary float-right btns" onclick="showChartModal('@filterDataIn.FormId')">Chart</button>

        @if (userCookieData.UserHasPermission(PermissionNames.Download, ModuleNames.Engine))
        {
            <div class="dropdown show float-right dropleft" style="margin-right:10px;">
                <a class="dropdown-button" href="#" role="button" id="dropdownMenuLink-group" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <button id="btns" class="btn btn-filter-primary btns" style="height:unset"><img src="~/Content/img/icons/dropdown.svg" /></button>
                </a>
                <div class="dropdown-menu-customize dropdown-menu dropdown-shadow" aria-labelledby="dropdownMenuLink-group">
                    <a class="dropdown-item" href="#" onclick="createPdfFormInstance(event,'@ViewBag.FilterFormInstanceDataIn.FormId')"><i class="fas fa-plus mr-2"></i>Create new patient using PDF tool</a>
                    <a class="dropdown-item" href="#" onclick="showUploadModal(event)"><i class="fas fa-arrow-up mr-2"></i>@sReportsV2.Resources.TextLanguage.UploadPdf</a>
                    @if (filterDataIn == null || !filterDataIn.IsSimplifiedLayout)
                    {
                        <a class="dropdown-item" href="#" onclick="downloadJsons(event)"><i class="fas fa-arrow-right mr-2 size"></i>@sReportsV2.Resources.TextLanguage.Export_Patholink</a>
                        <a class="dropdown-item" href="#" onclick="downloadTxt(event)"><i class="fas fa-arrow-right mr-2"></i>@sReportsV2.Resources.TextLanguage.ExportToTxt</a>
                    }


                </div>
            </div>
        }

        @if (userCookieData.UserHasPermission(PermissionNames.CreateUpdate, ModuleNames.Engine))
        {
            <button class="btn btn-create float-right" style="margin-right:10px;" onclick="createFormInstance('@current', '@language')"><i class="fas fa-plus-circle"></i> @sReportsV2.Resources.TextLanguage.Create</button>
        }

    </div>

    <div class="d-flex">
        <div class="d-flex main-filter mb-2">
            <div class="advanced-filter-item margin-right-10 advanced-max-width">
                <div class="label filter-label">
                    @sReportsV2.Resources.TextLanguage.Content
                </div>
                <input type="text" class="filter-input" id="ContentTemp" onkeydown="pressButtonOnEnterKey(event, 'submit-filter-button')">
            </div>

            @*<div class="advanced-filter-item margin-right-10 advanced-max-width">
                    <div class="label filter-label">
                        @sReportsV2.Resources.TextLanguage.User
                    </div>
                    <div id="dropdownSearch" class="position-relative dropdown-search">
                        <div id="user-search">
                            <input autocomplete="off" class="designer-form-input filter-input" id="user" name="User" type="text" onkeydown="pressButtonOnEnterKey(event, 'submit-filter-button')" @ViewBag.Disabled />
                        </div>
                        <div id="userOptions" class="user-options" aria-labelledby="user-search">
                        </div>
                    </div>
                    <div id="selected-users" class="clinical-domain-container">
                    </div>
                </div>

                <div class="advanced-filter-item margin-right-10 advanced-max-width">
                    <div class="label filter-label">
                        @sReportsV2.Resources.TextLanguage.Patient
                    </div>
                    <div id="dropdownSearch" class="position-relative dropdown-search">
                        <div id="patient-search">
                            <input autocomplete="off" class="designer-form-input filter-input" id="patient" name="Patient" type="text" onkeydown="pressButtonOnEnterKey(event, 'submit-filter-button')" @ViewBag.Disabled />
                        </div>
                        <div id="patientOptions" class="patient-options" aria-labelledby="patient-search">
                        </div>
                    </div>
                    <div id="selected-patients" class="clinical-domain-container">
                    </div>
                </div>*@

            <div class="border-0 margin-top-15" style="margin-right:10px;">
                <div class="button-wrapper-filter button-filter">
                    <button id="submit-filter-button" class="btn btn-filter-primary w-100 h-100 float-right" onclick="singleDocumentFilter()">  @sReportsV2.Resources.TextLanguage.Filter</button>
                </div>
            </div>
        </div>
    </div>

    <div id="filterElements" class="d-flex"></div>
    @Html.Partial("ChartPartial")
    @Html.Partial("FilterFormInstancesPartial")
    <div id="tableContainer"></div>
</div>

@Html.Partial("~/Views/Pdf/Upload.cshtml")
<script>
    var filter = @Html.Raw(Json.Encode(ViewBag.FilterFormInstanceDataIn));
</script>
@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + System.Reflection.Assembly.GetAssembly(typeof(sReportsV2.MvcApplication)).GetName().Version.ToString() + "\"></script>", "~/bundles/GetAllByFormThesaurus")