@using sReportsV2.DTOs.Field.DataOut.Custom
@using sReportsV2.DTOs.Field.DataOut.Custom.Action
@using sReportsV2.Common.Constants;
@model CustomFieldButtonDataOut

    <div class="designer-form-section">
        <div class="designer-form-input-group two-margins">
            <div class="label filter-label">
                Select action type
            </div>

            <select class="designer-form-input" id="customActionType" required>
                <option value="">Select action type</option>
                <option value="@CustomActionTypes.ControllerAction" @(Model.CustomAction != null && Model.CustomAction.ActionType == CustomActionTypes.ControllerAction ? "selected" : "")>Controller action</option>
                <option value="@CustomActionTypes.JavascriptAction" @(Model.CustomAction != null && Model.CustomAction.ActionType == CustomActionTypes.JavascriptAction ? "selected" : "")>Javascript action</option>
            </select>
        </div><!--
     --><div class="designer-form-input-group two-margins javascript-action-container" @(Model.CustomAction != null && Model.CustomAction is JavascriptActionDataOut ? "" : "style=display:none;")>
            <div class="label filter-label">
                Method name
            </div>
            <input class="designer-form-input" id="methodName" value="@(Model.CustomAction != null && Model.CustomAction is JavascriptActionDataOut ? (Model.CustomAction as JavascriptActionDataOut).MethodName : "")"/>
        </div><!--
     --><div class="designer-form-input-group two-margins controller-action-container" @(Model.CustomAction != null && Model.CustomAction is ControllerActionDataOut ? "": "style=display:none;")>
            <div class="label filter-label">
                Action name
            </div>
        <input class="designer-form-input" id="actionName"  value="@(Model.CustomAction != null && Model.CustomAction is ControllerActionDataOut ?  (Model.CustomAction as ControllerActionDataOut).ActionName : "")"/>
        </div><!--
     --><div class="designer-form-input-group two-margins no-margin-right controller-action-container" @(Model.CustomAction != null && Model.CustomAction is ControllerActionDataOut ? "": "style=display:none;")>
            <div class="label filter-label">
                Action name
            </div>
        <input class="designer-form-input" id="controllerName"  value="@(Model.CustomAction != null && Model.CustomAction is ControllerActionDataOut ? (Model.CustomAction as ControllerActionDataOut).ControllerName : "")"/>
        </div>
    </div>
