@using sReportsV2.DTOs.Form.DataOut;
@using sReportsV2.Common.Constants;
@model FormDataOut
@{ 
    var userCookieData = ViewBag.UserCookieData;
}

@if (Model != null && Model.WorkflowHistory != null)
{
    <div class="comments-hidden consensus-hidden">
        <div class="administrative-btn-group">
            @if (userCookieData.UserHasPermission(PermissionNames.ChangeState, ModuleNames.Designer))
            {
                <div class="dropdown dropdown-select menu-state-status">
                    <button class="btn dropdown-state" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        <i class="fa fa-exchange" aria-hidden="true"></i>
                        <span class="change-state-span">Change state</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right menu-state" role="menu" aria-labelledby="dropdownMenu1">
                        @foreach (var status in ViewBag.States)
                        {
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" class="dropdown-item form-definition-state state-option @(Model.State == status ? "active" : string.Empty)" data-value="@status">
                                    <i class="fas fa-square" style="color:@Model.GetStateColor(status)"></i>
                                    @sReportsV2.Resources.TextLanguage.ResourceManager.GetString(status.ToString())
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (userCookieData.UserHasPermission(PermissionNames.ViewAdministrativeData, ModuleNames.Designer))
            {
                <div class="workflow-toggle wt-designer">
                    <button class="eoc-main-content administrative-content workflow-btn wf-designer-btn" id="administrativeButton">
                        <img style="padding-left: 6px;" src="~/Content/img/icons/administrative_data.svg" />
                        <span class="administrative-title">@sReportsV2.Resources.TextLanguage.Administative_data</span>
                        <i class="administrative-arrow" id="administrativeArrow"></i>
                    </button>
                </div>
            }
        </div>
        <div class="administrative-container workflow-hide row" id="administrative-container-form">
            <span class="arrow-scroll-left-form d-none arrow-scroll"></span>
            <span class="arrow-scroll-right-form d-none arrow-scroll"></span>
            <div class="workflow-container" id="idWorkflow">
                @Html.Partial("~/Views/Form/DragAndDrop/CustomFields/FormAdministrativeDataWorkflow.cshtml", Model.GetWorkflowHistory())
            </div>
        </div>
    </div>
}

<script>
    $(document).on("click", ".workflow-btn", function () {
        if ($("#administrative-container-form").hasClass("workflow-hide")) {
            $("#administrativeArrow").addClass("administrative-arrow-up");
            $("#administrativeArrow").removeClass("administrative-arrow");

            $("#administrative-container-form").addClass("workflow-show");
            $("#administrative-container-form").removeClass("workflow-hide");
            showAdministrativeArrowIfOverflow('administrative-container-form');
        } else {
            $("#administrativeArrow").addClass("administrative-arrow");
            $("#administrativeArrow").removeClass("administrative-arrow-up");

            $("#administrative-container-form").removeClass("workflow-show");
            $("#administrative-container-form").addClass("workflow-hide");
        }
    });

</script>

