@using sReportsV2.Common.Extensions
@using sReportsV2.DTOs.Form.DataOut
@model FormCommentDataOut

<div class="com-status @Model.CommentState">
    <div>
        <img>
        @sReportsV2.Resources.TextLanguage.Status: <b>@Model.CommentState</b> by <b>@Model.User.FirstName.Substring(0, 1).ToUpper()@Model.User.LastName.Substring(0, 1).ToUpper()</b> on @Model.EntryDatetime.ToTimeZoned(ViewBag.UserCookieData.TimeZoneOffset as string, ViewBag.DateFormat as string)
    </div>
</div>
