@using sReportsV2.Models.Umls
<div class="table-responsive tableFixHead">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>@sReportsV2.Resources.TextLanguage.Name</th>
                <th>@sReportsV2.Resources.TextLanguage.RootSource</th>
                <th>@sReportsV2.Resources.TextLanguage.Language</th>
                <th>Ui</th>
            </tr>
        </thead>
        <tbody class="umls-clearable-content">
            @foreach (AtomViewModel atom in Model.Result)
            {
                <tr>
                    <td data-field="name" data-value="@atom.Name">@atom.Name</td>
                    <td data-field="rootSource" data-value="@atom.RootSource">@atom.RootSource</td>
                    <td data-field="language" data-value="@atom.Language">@atom.Language</td>
                    <td data-field="ui" data-value="@atom.Ui">@atom.Ui</td>
                </tr>
            }
        </tbody>
    </table>
</div>