<div class="modal fade" id="codeModal" tabindex="-1" role="dialog" aria-labelledby="codeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content modal-content-codes">
            <div class="float-right filter-close-btn">
                <img class="close-modal" src="~/Content/img/icons/close_black.svg">
            </div>
            <div class="modal-body">
                <div class="form-group col-md-12">

                    <form id="newCodeForm">
                        <div class="d-flex advanced-filter-header">
                            <img class="mr-3" src="~/Content/img/icons/change_password.svg">@sReportsV2.Resources.TextLanguage.AddCode
                        </div>
                        <div class="advanced-filter-item filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.System
                            </div>
                            <select class="filter-input arrow-select" id="codeSystem" name="codeSystem">
                                <option value=""></option>
                                @foreach( var codeSystem in ViewBag.CodeSystems)
                                {
                                    <option value="@codeSystem.Id">@codeSystem.Label</option>
                                }
                            </select>
                        </div>
                        <div class="advanced-filter-item filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Version
                            </div>
                            <input required class="filter-input" type="text" id="codeVersion" name="codeVersion" />
                        </div>
                        <div class="advanced-filter-item filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Code
                            </div>
                            <input required class="filter-input" type="text" id="codeCode" name="codeCode" />
                        </div>
                        <div class="advanced-filter-item filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Value (@sReportsV2.Resources.TextLanguage.Preferred_term)
                            </div>
                            <input required class="filter-input" type="text" id="codeValue" name="codeValue" />
                        </div>
                        <div class="advanced-filter-item filter-item input-margin">
                            <div class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.VersionPublishDate
                            </div>
                            <input type="text" class="filter-input" id="codeVersionPublishDate" name="codeVersionPublishDate">
                            <img class="date-img" src="~/Content/img/icons/date_field.svg" style="top:33px;" id="codeCalendar">
                        </div>

                        <div class="button-partial">
                            <button class="submit-button right-button margin-left-13" type="button" style="outline: none;" onclick="addNewCode(event)" dismiss="modal">
                                <span class="submit-patient-info">@sReportsV2.Resources.TextLanguage.Save</span>
                            </button>
                            <div class="button-wrapper-filter float-right" id="close">
                                <a class="btn advanced-cancel" data-dismiss="modal" aria-label="Close">
                                    @sReportsV2.Resources.TextLanguage.Cancel
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>