@using sReportsV2.DTOs.O4CodeableConcept.DataOut;
<div class="eoc-information margin-bottom-20">
    <div class="eoc-main-content umls-content" data-toggle="collapse" data-target="#collapseCodeTable" aria-expanded="false" aria-controls="collapseCodeTable" id="codesTable">
        <i class="administrative-state-arrow-down arrow-icon-umls" id="codesArrow"></i>
        <span class="umls-title">@sReportsV2.Resources.TextLanguage.Codes</span>
        <span class="umls-button-margin">
            <button type="button" class="btn btn-add-new float-right" onclick="showCodeModal(event)">
                <i class="fas fa-plus-circle resize-circle"></i> <span class="text-add-new"> @sReportsV2.Resources.TextLanguage.Create</span>
            </button>
        </span>
    </div>
    <input type="text" id="forEditing" hidden />
    <div class="collapse codes-table-style" id="collapseCodeTable">
        <table id="codeTable" class="codes-table">
            <thead>
                <tr>
                    <th>@sReportsV2.Resources.TextLanguage.System</th>
                    <th>@sReportsV2.Resources.TextLanguage.Version</th>
                    <th>@sReportsV2.Resources.TextLanguage.Code</th>
                    <th>@sReportsV2.Resources.TextLanguage.Value</th>
                    <th>@sReportsV2.Resources.TextLanguage.VersionPublishDate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="identifer-table text-table">
                @if (Model != null && Model.Codes != null)
                {
                    foreach (O4CodeableConceptDataOut entry in Model.Codes)
                    {
                        <tr class="tr edit-raw" data-id="@entry.Id">
                            <td data-property="codeSystem" data-value="@(entry.System != null ? entry.System.Id : null)" class="custom-td-first">
                                @(entry.System != null ? entry.System.Label : "")
                            </td>
                            <td data-property="codeVersion" data-value="@entry.Version" class="custom-td">
                                @entry.Version
                            </td>
                            <td data-property="codeCode" data-value="@entry.Code" class="custom-td">
                                @entry.Code
                            </td>
                            <td data-property="codeValue" data-value="@entry.Value" class="custom-td">
                                @entry.Value
                            </td>
                            <td data-property="codeVersionPublishDate" data-value="@entry.VersionPublishDate.Value.ToShortDateString()" class="custom-td">
                                @entry.VersionPublishDate.Value.ToShortDateString()
                            </td>
                            <td class="custom-td-last" style="padding:unset">
                                <div class="dropdown show">
                                    <a class="dropdown-button" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img class="codes-dots" src="../Content/img/icons/dots-active.png">
                                    </a>

                                    <div class="dropdown-menu">
                                        <a class="dropdown-item edit-code" href="#"><img class="edit-svg-size" src="~/Content/img/icons/edit.svg">@sReportsV2.Resources.TextLanguage.Edit</a>
                                        <a class="dropdown-item delete-code" href="#"><img class="edit-svg-size" src="~/Content/img/icons/remove.svg">@sReportsV2.Resources.TextLanguage.Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

