@using sReportsV2.DTOs.O4CodeableConcept.DataOut;
@using sReportsV2.Common.Constants;
@{ 
    var userCookieData = ViewBag.UserCookieData;
}
<div class="eoc-information margin-bottom-20">
    <div class="eoc-main-content umls-content" data-toggle="collapse" data-target="#collapseCodeTable" aria-expanded="false" aria-controls="collapseCodeTable" id="codesTable">
        <i class="administrative-state-arrow-down arrow-icon-umls" id="codesArrow"></i>
        <span class="umls-title">@sReportsV2.Resources.TextLanguage.Codes</span>
        <span class="umls-button-margin">
            @if (userCookieData.UserHasPermission(PermissionNames.UMLS, ModuleNames.Thesaurus) && !ViewBag.ReadOnly)
            {
                <button type="button" class="btn btn-add-new mr-2" onclick="showUmlsModal(event)">
                    <i class="fas fa-search resize-circle"></i> <span class="text-add-new"> @sReportsV2.Resources.TextLanguage.UMLS</span>
                </button>
            }
            @if (userCookieData.UserHasPermission(PermissionNames.CreateCode, ModuleNames.Thesaurus) && !ViewBag.ReadOnly)
            {
                <button type="button" class="btn btn-add-new float-right" onclick="showCodeModal(event)">
                    <i class="fas fa-plus-circle resize-circle"></i> <span class="text-add-new"> @sReportsV2.Resources.TextLanguage.Create</span>
                </button>
            }
        </span>
    </div>
    <div class="collapse codes-table-style" id="collapseCodeTable">
        <table id="codeTable" class="codes-table">
            <thead>
                <tr>
                    <th>@sReportsV2.Resources.TextLanguage.System</th>
                    <th>@sReportsV2.Resources.TextLanguage.Version</th>
                    <th>@sReportsV2.Resources.TextLanguage.Code</th>
                    <th>@sReportsV2.Resources.TextLanguage.Value</th>
                    <th>@sReportsV2.Resources.TextLanguage.VersionPublishDate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="identifer-table text-table">
                @if (Model != null && Model.Codes != null)
                {
                    foreach (O4CodeableConceptDataOut entry in Model.Codes)
                    {
                        @Html.Partial("CodeRow", entry)
                    }
                }
            </tbody>
        </table>
    </div>
</div>

