@using sReportsV2.Models.User
@using sReportsV2.Models.ThesaurusEntry;
@using sReportsV2.DTOs.O4CodeableConcept.DataOut;
@model sReportsV2.Models.ThesaurusEntry.ThesaurusEntryViewModel

@{
    ViewBag.Title = @sReportsV2.Resources.TextLanguage.CreateThesaurus;
}

@Html.Partial("Breadcrumb", new ViewDataDictionary { { "level1", sReportsV2.Resources.TextLanguage.Thesaurus }, { "linkLevel1", "/ThesaurusEntry/GetAll" }, { "level2", Model != null && Model.Id != null ? Model.O40MTId : @sReportsV2.Resources.TextLanguage.Form_create }, { "activeLevel", 2 } })

<input id="lastUpdate" type="text" value="@(Model != null && Model.LastUpdate != null ? Model.LastUpdate.Value.ToString("o") : null )" hidden />
<div class="col-12">
    <div class="row">
        <div class="col-md-12 col-lg-5 col-xl-6 ">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <form class="thesaurus-entry-form" onsubmit="return submitThesaurusEntryForm(this)" novalidate id="thesaurusEntryForm">
                            @Html.AntiForgeryToken()
                            <input type="hidden" value="@(Model != null && !string.IsNullOrEmpty(Model.O40MTId) ? Model.O40MTId: "")" id="O40MTID" />
                            <input type="hidden" name="parentId" id="parentId" />
                            @if (Model != null && !string.IsNullOrEmpty(Model.Id))
                            {
                                <input type="hidden" name="Id" value="@Model.Id" id="Id" />
                            }
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="accordion">
                                    <div class="header-accordion" data-toggle="collapse" data-target="#collapseO4MTSpecificFields" aria-expanded="false" aria-controls="collapseO4MTSpecificFields">
                                        @sReportsV2.Resources.TextLanguage.MTSpecificFields
                                    </div>
                                    <div class="collapse" id="collapseO4MTSpecificFields">

                                        @Html.Partial("TranslationsPartial")
                                    </div>
                                </div>
                                <div class="accordion">
                                    <div class="header-accordion" data-toggle="collapse" data-target="#collapseUmlsspecificFields" aria-expanded="false" aria-controls="collapseUmlsspecificFields">
                                        @sReportsV2.Resources.TextLanguage.UMLSSpecificFields
                                        <button class="btn btn-primary add-new-button" type="button" href="#" onclick="showModal(event)">@sReportsV2.Resources.TextLanguage.UMLS_Select</button>
                                    </div>
                                    <div class="collapse" id="collapseUmlsspecificFields">
                                        <div class="form-input-container">
                                            <label for="UmlsCode" class="form-element-label">@sReportsV2.Resources.TextLanguage.UMLS_Code</label>
                                            <input type="text" name="UmlsCode" id="UmlsCode" class="form-element-field" value="@(Model != null && Model.UmlsCode != null ? Model.UmlsCode : "")" />
                                            <div class="form-element-bar"></div>
                                        </div>
                                        <div class="form-input-container">
                                            <label for="UmlsName" class="form-element-label">@sReportsV2.Resources.TextLanguage.UMLS_Name</label>
                                            <input type="text" name="UmlsName" id="UmlsName" class="form-element-field" value="@(Model != null && Model.UmlsName != null ? Model.UmlsName : "")" />
                                            <div class="form-element-bar"></div>
                                        </div>
                                        <div class="form-input-container">
                                            <label for="UmlsName" class="form-element-label">@sReportsV2.Resources.TextLanguage.UMLS_Link</label>
                                            <div>
                                                @if (Model != null && !string.IsNullOrEmpty(Model.UmlsCode))
                                                {
                                                    <a id="umlsLink" target="_blank" href="https://uts.nlm.nih.gov/metathesaurus.html?cui=@Model.UmlsCode">https://uts.nlm.nih.gov/metathesaurus.html?cui=@Model.UmlsCode</a>

                                                }
                                                else
                                                {
                                                    <a id="umlsLink" target="_blank" href="#"></a>

                                                }
                                            </div>
                                        </div>
                                        <div class="form-input-container">
                                            <label for="UmlsDefinitions" class="form-element-label">@sReportsV2.Resources.TextLanguage.UMLS_Definitions</label>
                                            <div type="text" rows="10" name="UmlsDefinitions" id="UmlsDefinitions" class="form-element-desc-field umls-definitions">
                                                @(Html.Raw(Model != null && Model.UmlsDefinitions != null ? Model.UmlsDefinitions : ""))
                                            </div>
                                            <div class="form-element-bar"></div>
                                        </div>
                                    </div>
                                </div>

                                @Html.Partial("CodesTable")
                                <div class="col-12">
                                    <div class="row d-none d-lg-block">
                                        <div class="submit-button-container">
                                            <button type="submit" form="thesaurusEntryForm" class="btn btn-primary">@(Model != null ? sReportsV2.Resources.TextLanguage.Save : sReportsV2.Resources.TextLanguage.Create)</button>
                                            <button type="button" onclick="backToList()" class="btn btn-danger">@sReportsV2.Resources.TextLanguage.Cancel</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </form>
                        @Html.Partial("CodingSystemPartial")
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12 col-lg-3">
            @Html.Partial("AdministrativeData")
        </div>
        <div class="col-md-12 col-lg-4 col-xl-3 order-lg-first">
            <div class="row pr-lg-3">
                <div class="tree-wrapper" style="width:100%">
                    <div class="header-tree">
                        @sReportsV2.Resources.TextLanguage.FoundIn:
                    </div>
                    <div class="tree">
                        <div id="treeContainer"></div>
                    </div>
                </div>
            </div>
            <div class="row pr-lg-3">
                <div class="document-properties">
                    <div class="header-tree">
                        @sReportsV2.Resources.TextLanguage.DocumentProperties
                    </div>
                    <div class="content" id="documentPropertiesData">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-block d-lg-none">
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="submit-button-container">
                    <button type="submit" form="thesaurusEntryForm" class="btn btn-primary">@sReportsV2.Resources.TextLanguage.Create)</button>
                    <button type="button" onclick="backToList()" class="btn btn-danger">@sReportsV2.Resources.TextLanguage.Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>

@Html.Partial("CodeModal")

<script>
    var languages =  @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Languages as List<sReportsV2.Models.Common.EnumViewModel>, Newtonsoft.Json.Formatting.Indented));
    var activeLanguage = '@(ViewBag.UserCookieData.ActiveLanguage as string)';
</script>
<script src="~/Scripts/sReports/thesaurusEntry.js"></script>