@using sReportsV2.DTOs.ThesaurusEntry.DataOut;
@using sReportsV2.Common.Constants;
@model PagedList.IPagedList<ThesaurusEntryDataOut>

@{
    ViewBag.Title = @sReportsV2.Resources.TextLanguage.Thesaurus;
    var userCookieData = ViewBag.UserCookieData;
}

@Html.Partial("Breadcrumb", new ViewDataDictionary { { "level1", sReportsV2.Resources.TextLanguage.Thesaurus }, { "activeLevel", 1 } })

<div class="table-container border-0">
    <div class="header header-new">
        @sReportsV2.Resources.TextLanguage.Thesaurus
        @if (userCookieData.UserHasPermission(PermissionNames.CreateUpdate, ModuleNames.Thesaurus))
        {
            <button class="btn btn-create float-right" onclick="createThesaurusEntry()"><i class="fas fa-plus-circle"></i> @sReportsV2.Resources.TextLanguage.Create</button>
            @Html.ActionLink(sReportsV2.Resources.TextLanguage.Start_Merge_Process, "Merge", "ThesaurusEntry", new { }, new { target = "_blank", rel = "noreferrer", @class = "btn btn-filter-primary h-100 float-right mr-3 font-size-14px" })
        }
    </div>
    @Html.Partial("ThesaurusFilterGroup")

    <div id="tableContainer">

    </div>
</div>

@Html.Partial("AdvancedFilterModal")
@Html.Partial("ThesaurusMore")

<script>
    var defaultFilter = @Html.Raw(Json.Encode(ViewBag.FilterData));
</script>

@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + System.Reflection.Assembly.GetAssembly(typeof(sReportsV2.MvcApplication)).GetName().Version.ToString() + "\"></script>", "~/bundles/thesaurusGetAll")