@model sReportsV2.DTOs.ThesaurusEntry.DataOut.ThesaurusEntryDataOut
@{ 
    var translation = Model.GetTranslation(ViewBag.UserCookieData.ActiveLanguage);
}

<div class="label thesaurus-more-label">
    04.OMT ID
</div>
<div class="thesaurus-o4mtid">
    @Model.Id
</div>

<div class="thesaurus-modal-content">
    <div class="d-flex thesaurus-more-content-label">
        <div class="dot">

        </div>
        @sReportsV2.Resources.TextLanguage.Preferred_term.ToUpper()
    </div>
    <div class="d-flex thesaurus-more-content-padding">
        @(Model.GetPreferredTermByTranslationOrDefault(ViewBag.UserCookieData.ActiveLanguage) != null ? Model.GetPreferredTermByTranslationOrDefault(ViewBag.UserCookieData.ActiveLanguage) : sReportsV2.Resources.TextLanguage.NotDefined)
    </div>

    <div class="d-flex thesaurus-more-content-label">
        <div class="dot">

        </div>
        @sReportsV2.Resources.TextLanguage.Definition.ToUpper()
    </div>
    <div class="d-flex thesaurus-more-content-padding">
        @(Model.GetDefinitionByTranslationOrDefault(ViewBag.UserCookieData.ActiveLanguage) != null ? Model.GetDefinitionByTranslationOrDefault(ViewBag.UserCookieData.ActiveLanguage) : sReportsV2.Resources.TextLanguage.NotDefined)
    </div>

    <div class="d-flex thesaurus-more-content-label">
        <div class="dot">

        </div>
        @sReportsV2.Resources.TextLanguage.Synonyms.ToUpper()
    </div>
    <div class=" thesaurus-more-content-padding">
        @if (translation.Synonyms.Count > 0)
        {
           foreach (var synonym in translation.Synonyms)
            {
                <div class="filter-element d-inline-block mr-0 mb-0">
                    @synonym
                </div>
            }
        }
        else
        {
            <div>
                @sReportsV2.Resources.TextLanguage.NotDefined
            </div>
        }
    </div>

  
    <div class="d-flex thesaurus-more-content-label">
        <div class="dot">

        </div>
        @sReportsV2.Resources.TextLanguage.Abbreviations.ToUpper()
    </div>
    <div class=" thesaurus-more-content-padding">
        @if (translation.Abbreviations.Count > 0)
        {
            foreach (var abbreaviation in translation.Abbreviations)
            {
                <div class="filter-element d-inline-block  mr-0 mb-0">
                    @abbreaviation
                </div>
            }
        }
        else
        {
            <div>
                @sReportsV2.Resources.TextLanguage.NotDefined
            </div>
        }
    </div>
</div>

<button type="button" class="btn btn-filter-primary float-right thesaurus-more-close" data-dismiss="modal" aria-label="Close">
    @sReportsV2.Resources.TextLanguage.Close
</button>