<div class="modal fade" id="relationModal" tabindex="-1" role="dialog" aria-labelledby="relationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content modal-content-relation">
            <div class="float-right filter-close-btn">
                <img class="close-modal" src="~/Content/img/icons/close_black.svg">
            </div>
            <div class="modal-body modal-body-advanced" style="padding-top:50px;">
                <div class="d-flex advanced-filter-header documents-header">
                    <img class="mr-3" src="~/Content/img/icons/add_relation.svg"> @sReportsV2.Resources.TextLanguage.Add_relation
                </div>
                <form>
                    <fieldset class="advanced-filter-item mt-4">
                        <div class="label">
                            @sReportsV2.Resources.TextLanguage.Identifier_name
                        </div>
                        <select class="relation-item filter-input arrow-select patient-background" id="relation-item" name="relation-item" placeholder="@sReportsV2.Resources.TextLanguage.Identifier_name">
                            <option selected value=""></option>
                        </select>
                    </fieldset>
                    <div class="boundaries-container">
                        <fieldset class="advanced-filter-item mt-4">
                            <label for="lowerBoundary" class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Lower_boundary
                            </label>
                            <input type="number" step="0.01" name="lowerBoundary" required class="filter-input" id="lowerBoundary" placeholder="Define lower boundary" />
                        </fieldset>
                        <fieldset class="advanced-filter-item mt-4">
                            <label for="upperBoundary" class="label filter-label">
                                @sReportsV2.Resources.TextLanguage.Upper_boundary
                            </label>
                            <input type="number" step="0.01" name="upperBoundary" required class="filter-input" id="upperBoundary" placeholder="Define upper boundary" />
                        </fieldset>
                    </div>
                    <input type="hidden" id="targetVariable" />
                </form>

                <div class="d-flex position-relative margin-top-20">
                    <div class="button-wrapper-filter filter-button float-right d-flex" style="width:unset" id="submitFilterButton">
                        <a class="btn advanced-cancel mr-2" data-dismiss="modal" aria-label="Close">
                            @sReportsV2.Resources.TextLanguage.Cancel
                        </a>
                        <button class="btn btn-filter-primary w-100 h-100" onclick="createRelatedField()"> @sReportsV2.Resources.TextLanguage.Save</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        let $relationItemSelect = $('.relation-item');
        let formDistributionId = $('#formDistributionId').val();

        $relationItemSelect.select2({
            minimumInputLength: 3,
            placeholder: '@sReportsV2.Resources.TextLanguage.Identifier_name',
            allowClear: true,
            width: '100%',
            ajax: {
            url: `/FormDistribution/GetRelationFieldAutocompleteData?formDistributionId=${formDistributionId}`,
            dataType: 'json',
            data: function (params) {
                return {
                    Term: params.term,
                    Page: params.page,
                    ExcludeId: $('#targetVariable').val()
                };
            },
            }
        });
        $relationItemSelect.on("select2:select", function (e) { changeSelectedRelation(e) });
    });
</script>
