@model sReportsV2.DTOs.Form.DataOut.FormDataOut

@{
    ViewBag.Title = @sReportsV2.Resources.TextLanguage.Simulator;
}
<div class="element-background-grey">
@Html.Partial("Breadcrumb", new ViewDataDictionary { { "level1", @sReportsV2.Resources.TextLanguage.Simulator }, { "activeLevel", 1 } })
    <div class="">
        @Html.Partial("~/Views/FormDistribution/GetAllForms.cshtml")
    </div>
    </div>
@Scripts.Render("~/bundles/simulator")
