@using sReportsV2.DTOs.Encounter.DataOut
@using sReportsV2.Common.Extensions;

@model EncounterDetailsPatientTreeDataOut



<div class="content-container">
    <div class="referrals-container">
        <div class="title">
            @sReportsV2.Resources.TextLanguage.SelectRefsForNewDoc
        </div>
        <div class="referrals-list">
            @foreach (sReportsV2.DTOs.FormInstance.DataOut.FormInstanceDataOut formInstanceDataOut in Model.FormInstances)
            {
                <div class="single-referral-item" data-id="@formInstanceDataOut.Id">
                    <div class="icon-wrapper">
                        <div class="icon">

                        </div>
                        <div class="datetime">
                            @formInstanceDataOut.EntryDatetime.ToTimeZonedDateTime(ViewBag.UserCookieData.TimeZoneOffset as string, ViewBag.DateFormat as string)
                        </div>
                    </div>
                    <div class="title">
                        @formInstanceDataOut.Title
                    </div>
                    <div class="select-button unselect">
                        @sReportsV2.Resources.TextLanguage.Unselect
                    </div>
                    <div class="select-button">
                        @sReportsV2.Resources.TextLanguage.Select
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="forms-container">

        <div class="title">
            @sReportsV2.Resources.TextLanguage.SearchForDocs
        </div>
        <div class="input-container">
            <input class="filter-input" type="text" id="searchCondition" />
            <span class="search-icon">
                <img src="~/Content/img/icons/search_green.svg" />
            </span>
        </div>

        <div class="forms-container-list" id="formsContainer">
            @Html.Partial("ListForms", Model.Forms)
        </div>
    </div>

</div>

<div class="button-container">
    <div class="cancel-button" onclick="closeCustomModal()">
        @sReportsV2.Resources.TextLanguage.Back
    </div>

    <div class="submit-button" onclick="loadDynamicForm()">
        @sReportsV2.Resources.TextLanguage.Continue
    </div>
</div>
