
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-small">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel">@sReportsV2.Resources.TextLanguage.Change_password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group col-md-12">
                    <form id="newPasswordForm">
                        <div class="form-element">
                            <label for="oldPassword" class="form-element-label">@sReportsV2.Resources.TextLanguage.OldPassword:</label>
                            <input required class="form-element-field" type="password" id="oldPassword" name="oldPassword" />
                            <div class="form-element-bar"></div>
                            <span id="oldPasswordId" class="text-danger"></span>
                        </div>
                        <div class="form-element">
                            <label for="newPassword" class="form-element-label">@sReportsV2.Resources.TextLanguage.NewPassword:</label>
                            <input required class="form-element-field" type="password" id="newPassword" name="newPassword" />
                            <div class="form-element-bar"></div>
                        </div>
                        <div class="form-element">
                            <label for="confirmPassword" class="form-element-label">@sReportsV2.Resources.TextLanguage.ConfirmPassword:</label>
                            <input required class="form-element-field" type="password" id="confirmPassword" name="confirmPassword" />
                            <div class="form-element-bar"></div>
                            <span id="confirmPasswordId" class="text-danger"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="buttonSubmitPassword" class="btn btn-primary" onclick="generateNewPassword()" dismiss="modal">@sReportsV2.Resources.TextLanguage.Confirm</button>
            </div>
        </div>
    </div>
</div>

