@using sReportsV2.DTOs.Field.DataOut;
@using sReportsV2.Common.Extensions;
@model FieldFileDataOut

<fieldset class="form-input" @Html.Disabled(Model.IsDisabled)>
    <div class="repetitive-values d-inline-block form-input-size">
        <div for="@Model.Id" class="filter-label form-label-size d-inline-block">
            <span class="comment-target-item" id="@Model.Id">   @Html.Raw(Model.FullLabel) </span>
        </div>
        <div class="repetitive-field d-inline-block">
            <div class="filter-input  file-field w-100">
                <input type="file" class="form-element-field file" placeholder="@Model.DescriptionLabel" />
                <input type="hidden" />
                <div class="file-choose">
                    <div>Browse file</div>
                    <img src="~/Content/img/icons/browse.svg" class="ml-auto" style="width:20px;">
                </div>
            </div>
        </div>
        @Html.Partial("~/Views/Form/Custom/FieldButtonGroup.cshtml", Model)
    </div>
</fieldset>
<a class="add-comment-link comment-block-hide" onclick="addComment('@Model.Id')">

    <img class="add-comment-icon" src="~/Content/img/icons/add_comment_1.svg">
</a>